Repository cygnusb2b/endeavor-business-media, pull requests merged in 2019-10, with the labels that each got.

#46 Updated IAS bg link to point at MAE
  sites/intelligent-aerospace/config/navigation.js
Labels: site: intelligent-aerospace

#54 CS3139-LFW: updated linkedin url
  sites/laserfocusworld/config/site.js
Labels: site: laserfocusworld

#55 Update improperly imported directory categories
  sites/laserfocusworld/server/categories.js
Labels: site: laserfocusworld

#56 Fix missed leading slash on href
  sites/laserfocusworld/server/categories.js
Labels: site: laserfocusworld

#62 Fix three categories in LFW’s directory
  sites/laserfocusworld/server/categories.js
Labels: site: laserfocusworld

#70 Fixed GAM path
  sites/processingmagazine/config/gam.js
Labels: site: processingmagazine

#72 Add inquiry to CIM's company & product pages
  sites/cablinginstall/browser/index.js
  sites/cablinginstall/browser/inquiry-form.vue
  sites/cablinginstall/server/styles/index.scss
  sites/cablinginstall/server/templates/content/company.marko
  sites/cablinginstall/server/templates/content/index.marko
Labels: site: cablinginstall

#73 Add inquiry to LFW's company & product pages
  sites/laserfocusworld/browser/index.js
  sites/laserfocusworld/config/site.js
  sites/laserfocusworld/package.json
  sites/laserfocusworld/server/components/inquiry-form.marko
  sites/laserfocusworld/server/components/marko.json
  sites/laserfocusworld/server/routes/index.js
  sites/laserfocusworld/server/styles/index.scss
  sites/laserfocusworld/server/templates/content/company.marko
  sites/laserfocusworld/server/templates/content/index.marko
Labels: site: laserfocusworld

#74 Add inquiry to LED's company & product pages
  sites/ledsmagazine/browser/index.js
  sites/ledsmagazine/config/site.js
  sites/ledsmagazine/package.json
  sites/ledsmagazine/server/components/inquiry-form.marko
  sites/ledsmagazine/server/components/marko.json
  sites/ledsmagazine/server/routes/index.js
  sites/ledsmagazine/server/styles/index.scss
  sites/ledsmagazine/server/templates/content/company.marko
  sites/ledsmagazine/server/templates/content/index.marko
Labels: site: ledsmagazine

#75 Add inquiry to LWO's company & product pages
  sites/lightwaveonline/browser/index.js
  sites/lightwaveonline/config/site.js
  sites/lightwaveonline/package.json
  sites/lightwaveonline/server/components/inquiry-form.marko
  sites/lightwaveonline/server/components/marko.json
  sites/lightwaveonline/server/routes/index.js
  sites/lightwaveonline/server/styles/index.scss
  sites/lightwaveonline/server/templates/content/company.marko
  sites/lightwaveonline/server/templates/content/index.marko
Labels: site: lightwaveonline

#76 Add inquiry to MAE's company & product pages
  sites/militaryaerospace/browser/index.js
  sites/militaryaerospace/config/site.js
  sites/militaryaerospace/package.json
  sites/militaryaerospace/server/components/inquiry-form.marko
  sites/militaryaerospace/server/components/marko.json
  sites/militaryaerospace/server/routes/index.js
  sites/militaryaerospace/server/styles/index.scss
  sites/militaryaerospace/server/templates/content/company.marko
  sites/militaryaerospace/server/templates/content/index.marko
Labels: site: militaryaerospace

#77 Add inquiry to VSD's company & product pages
  sites/vision-systems/browser/index.js
  sites/vision-systems/config/site.js
  sites/vision-systems/package.json
  sites/vision-systems/server/components/inquiry-form.marko
  sites/vision-systems/server/components/marko.json
  sites/vision-systems/server/routes/index.js
  sites/vision-systems/server/styles/index.scss
  sites/vision-systems/server/templates/content/company.marko
  sites/vision-systems/server/templates/content/index.marko
Labels: site: vision-systems

#81 Remove dev env
  packages/inquiry/env.js
Labels: bug

#24 DE-setup: overlooked extra website-section
  sites/dentaleconomics/config/navigation.js
  sites/dentaleconomics/server/components/blocks/content-load-more.marko
  sites/dentaleconomics/server/components/flows/content-load-more.marko
  sites/dentaleconomics/server/routes/website-section.js
  sites/dentaleconomics/server/styles/index.scss
  sites/dentaleconomics/server/templates/index.marko
  sites/dentaleconomics/server/templates/website-section/editorial-advisory-board.marko
Labels: site: dentaleconomics

#25 OS-setup: missed additional website-section
  sites/offshore-mag/config/native-x.js
  sites/offshore-mag/server/graphql/fragments/website-section-page.js
  sites/offshore-mag/server/routes/website-section.js
  sites/offshore-mag/server/templates/content/index.marko
  sites/offshore-mag/server/templates/index.marko
  sites/offshore-mag/server/templates/website-section/index.marko
  sites/offshore-mag/server/templates/website-section/resources/maps-posters.marko
Labels: site: offshore-mag

#68 CS2778 LEDs
  sites/ledsmagazine/config/navigation.js
  sites/ledsmagazine/server/styles/index.scss
  sites/ledsmagazine/server/templates/index.marko
Labels: site: ledsmagazine

#28 RDH-index: updated sections
  sites/rdhmag/config/gam.js
  sites/rdhmag/config/native-x.js
  sites/rdhmag/server/components/blocks/content-load-more.marko
  sites/rdhmag/server/components/flows/content-load-more.marko
  sites/rdhmag/server/templates/content/index.marko
  sites/rdhmag/server/templates/index.marko
  sites/rdhmag/server/templates/website-section/index.marko
Labels: site: rdhmag

#78 CS3231: RDH, duplicating changes made in /websites
  sites/rdhmag/config/navigation.js
  sites/rdhmag/server/styles/index.scss
Labels: site: rdhmag

#83 CS3254-LEDs: nav replace Research with Advertise
  sites/ledsmagazine/config/navigation.js
Labels: site: ledsmagazine

#82 CS3264-VSD: corrected subscribe url
  sites/vision-systems/server/templates/subscribe/index.marko
Labels: site: vision-systems

#79 CS3177: VSD whitepapers is now a scheduled website section
  sites/vision-systems/server/routes/content.js
  sites/vision-systems/server/routes/published-content.js
  sites/vision-systems/server/routes/website-section.js
  sites/vision-systems/server/templates/index.marko
  sites/vision-systems/server/templates/published-content/white-papers.marko
  sites/vision-systems/server/templates/website-section/white-papers.marko
Labels: site: vision-systems

#84 Updated PIA GTM container id
  sites/perioimplantadvisory/config/site.js
Labels: site: perioimplantadvisory

#89 Replace incorrect NativeX “card” placement with “default”
  sites/bioopticsworld/server/templates/website-section/index.marko
  sites/broadbandtechreport/server/templates/website-section/index.marko
  sites/dentistryiq/server/templates/website-section/index.marko
  sites/evaluationengineering/server/templates/website-section/index.marko
  sites/flowcontrolnetwork/server/templates/website-section/index.marko
  sites/offshore-mag/server/templates/website-section/index.marko
  sites/processingmagazine/server/templates/website-section/index.marko
  sites/rdhmag/server/templates/website-section/index.marko
  sites/strategies-u/server/templates/website-section/index.marko
  sites/watertechonline/server/templates/website-section/index.marko
Labels: site: bioopticsworld, site: broadbandtechreport, site: dentistryiq, site: evaluationengineering, site: flowcontrolnetwork, site: offshore-mag, site: processingmagazine, site: rdhmag, site: strategies-u, site: watertechonline

#90 EE block title fix
  sites/evaluationengineering/config/navigation.js
  sites/evaluationengineering/server/templates/index.marko
Labels: site: evaluationengineering

#94 FCN Updates
  sites/flowcontrolnetwork/config/navigation.js
  sites/flowcontrolnetwork/server/routes/published-content.js
  sites/flowcontrolnetwork/server/templates/index.marko
  sites/processingmagazine/config/navigation.js
  sites/processingmagazine/server/routes/published-content.js
  sites/watertechonline/config/navigation.js
Labels: site: flowcontrolnetwork, site: processingmagazine, site: watertechonline

#96 Updated FCN nav
  sites/flowcontrolnetwork/config/navigation.js
  sites/flowcontrolnetwork/server/templates/index.marko
Labels: site: flowcontrolnetwork

#95 CS3315-LW: misnomer of home block section
  sites/lightwaveonline/server/templates/index.marko
Labels: site: lightwaveonline

#93 CS2778-LEDS: updates to ads for new category
  sites/ledsmagazine/config/gam.js
  sites/ledsmagazine/config/native-x.js
  sites/ledsmagazine/server/templates/index.marko
Labels: site: ledsmagazine

#101 CS3328: Processing Magazine
  sites/processingmagazine/config/site.js
  sites/processingmagazine/server/templates/subscribe/index.marko
Labels: site: processingmagazine

#100 CS3327-OS: removed skip setting, no featured/hero
  sites/offshore-mag/server/templates/website-section/resources/maps-posters.marko
Labels: site: offshore-mag

#104 Corrected WTO menu items
  sites/watertechonline/config/navigation.js
Labels: site: watertechonline

#80 CS3012: VSD custom section knowledge zone
  sites/vision-systems/config/navigation.js
  sites/vision-systems/server/routes/website-section.js
  sites/vision-systems/server/templates/website-section/knowledge-zone.marko
Labels: site: vision-systems

#109 Minor updates to DTE
  sites/distributedenergy/config/navigation.js
  sites/distributedenergy/server/public/android-chrome-192x192.png
  sites/distributedenergy/server/public/android-chrome-512x512.png
  sites/distributedenergy/server/public/apple-touch-icon.png
  sites/distributedenergy/server/public/favicon-16x16.png
  sites/distributedenergy/server/public/favicon-32x32.png
  sites/distributedenergy/server/public/favicon.ico
  sites/distributedenergy/server/styles/index.scss
  sites/distributedenergy/server/templates/subscribe/index.marko
Labels: site: distributedenergy

#111 Minor updates to MSW
  sites/mswmanagement/config/navigation.js
  sites/mswmanagement/server/public/android-chrome-192x192.png
  sites/mswmanagement/server/public/android-chrome-512x512.png
  sites/mswmanagement/server/public/apple-touch-icon.png
  sites/mswmanagement/server/public/favicon-16x16.png
  sites/mswmanagement/server/public/favicon-32x32.png
  sites/mswmanagement/server/public/favicon.ico
  sites/mswmanagement/server/styles/index.scss
  sites/mswmanagement/server/templates/subscribe/index.marko
Labels: site: mswmanagement

#113 Minor updates to FRN
  sites/foresternetwork/server/public/android-chrome-192x192.png
  sites/foresternetwork/server/public/android-chrome-512x512.png
  sites/foresternetwork/server/public/apple-touch-icon.png
  sites/foresternetwork/server/public/favicon-16x16.png
  sites/foresternetwork/server/public/favicon-32x32.png
  sites/foresternetwork/server/public/favicon.ico
  sites/foresternetwork/server/styles/index.scss
Labels: site: foresternetwork

#112 Minor updates to STW
  sites/stormh2o/config/navigation.js
  sites/stormh2o/server/public/android-chrome-192x192.png
  sites/stormh2o/server/public/android-chrome-512x512.png
  sites/stormh2o/server/public/apple-touch-icon.png
  sites/stormh2o/server/public/favicon-16x16.png
  sites/stormh2o/server/public/favicon-32x32.png
  sites/stormh2o/server/public/favicon.ico
  sites/stormh2o/server/styles/index.scss
  sites/stormh2o/server/templates/subscribe/index.marko
Labels: site: stormh2o

#110 Add secondary nav & colors to GXContractor
  sites/gxcontractor/config/navigation.js
  sites/gxcontractor/server/public/android-chrome-192x192.png
  sites/gxcontractor/server/public/android-chrome-512x512.png
  sites/gxcontractor/server/public/apple-touch-icon.png
  sites/gxcontractor/server/public/favicon-16x16.png
  sites/gxcontractor/server/public/favicon-32x32.png
  sites/gxcontractor/server/public/favicon.ico
  sites/gxcontractor/server/styles/index.scss
  sites/gxcontractor/server/templates/subscribe/index.marko
Labels: site: gxcontractor

#114 CS3381: BOW conversion of WPs from published
  sites/bioopticsworld/server/routes/published-content.js
  sites/bioopticsworld/server/routes/website-section.js
  sites/bioopticsworld/server/templates/index.marko
  sites/bioopticsworld/server/templates/published-content/white-papers.marko
  sites/bioopticsworld/server/templates/website-section/white-papers.marko
Labels: site: bioopticsworld

#115 CS3383: BTR whitepaper conversion from published
  sites/broadbandtechreport/server/routes/published-content.js
  sites/broadbandtechreport/server/routes/website-section.js
  sites/broadbandtechreport/server/templates/index.marko
  sites/broadbandtechreport/server/templates/published-content/white-papers.marko
  sites/broadbandtechreport/server/templates/website-section/white-papers.marko
Labels: site: broadbandtechreport

#116 CS3384: CIM whitepaper
  sites/cablinginstall/server/routes/published-content.js
  sites/cablinginstall/server/routes/website-section.js
  sites/cablinginstall/server/templates/index.marko
  sites/cablinginstall/server/templates/published-content/white-papers.marko
  sites/cablinginstall/server/templates/website-section/white-papers.marko
Labels: site: cablinginstall

#117 CS3385: DE whitepaper conversion from published
  sites/dentaleconomics/server/routes/published-content.js
  sites/dentaleconomics/server/routes/website-section.js
  sites/dentaleconomics/server/templates/index.marko
  sites/dentaleconomics/server/templates/published-content/white-papers.marko
  sites/dentaleconomics/server/templates/website-section/white-papers.marko
Labels: site: dentaleconomics

#118 CS3387: DIQ whitepaper conversion from published
  sites/dentistryiq/server/routes/published-content.js
  sites/dentistryiq/server/routes/website-section.js
  sites/dentistryiq/server/templates/index.marko
  sites/dentistryiq/server/templates/published-content/white-papers.marko
  sites/dentistryiq/server/templates/website-section/white-papers.marko
Labels: site: dentistryiq

#119 CS3388: ILS whitepaper conversion from published
  sites/industrial-lasers/server/routes/published-content.js
  sites/industrial-lasers/server/routes/website-section.js
  sites/industrial-lasers/server/templates/index.marko
  sites/industrial-lasers/server/templates/published-content/white-papers.marko
  sites/industrial-lasers/server/templates/website-section/white-papers.marko
Labels: site: industrial-lasers

#102 CS3332-BTR-Webcasts
  sites/broadbandtechreport/browser/index.js
  sites/broadbandtechreport/server/components/inquiry-form.marko
  sites/broadbandtechreport/server/components/marko.json
  sites/broadbandtechreport/server/templates/content/index.marko
Labels: site: broadbandtechreport

#120 CS3393: IAS whitepaper conversion from published
  sites/intelligent-aerospace/server/routes/published-content.js
  sites/intelligent-aerospace/server/routes/website-section.js
  sites/intelligent-aerospace/server/templates/index.marko
  sites/intelligent-aerospace/server/templates/published-content/white-papers.marko
  sites/intelligent-aerospace/server/templates/website-section/white-papers.marko
Labels: site: intelligent-aerospace

#121 CS3395: LFW whitepaper conversion from published
  sites/laserfocusworld/server/routes/published-content.js
  sites/laserfocusworld/server/routes/website-section.js
  sites/laserfocusworld/server/templates/index.marko
  sites/laserfocusworld/server/templates/published-content/white-papers.marko
  sites/laserfocusworld/server/templates/website-section/white-papers.marko
Labels: site: laserfocusworld

#122 CS3396: LED whitepaper conversion from published
  sites/ledsmagazine/server/routes/published-content.js
  sites/ledsmagazine/server/routes/website-section.js
  sites/ledsmagazine/server/templates/published-content/white-papers.marko
  sites/ledsmagazine/server/templates/website-section/white-papers.marko
Labels: site: ledsmagazine

#123 CS3399: LW whitepaper conversion from published
  sites/lightwaveonline/server/routes/published-content.js
  sites/lightwaveonline/server/routes/website-section.js
  sites/lightwaveonline/server/templates/index.marko
  sites/lightwaveonline/server/templates/published-content/white-papers.marko
  sites/lightwaveonline/server/templates/website-section/white-papers.marko
Labels: site: lightwaveonline

#127 CS3411-PIA-whitepaper
  sites/perioimplantadvisory/server/routes/published-content.js
  sites/perioimplantadvisory/server/routes/website-section.js
  sites/perioimplantadvisory/server/templates/published-content/white-papers.marko
  sites/perioimplantadvisory/server/templates/website-section/white-papers.marko
Labels: site: perioimplantadvisory
