Repository cygnusb2b/endeavor-business-media, pull requests merged in 2019-11, with the labels that each got.

#129 CS3414-UP-whitepaper
  sites/utilityproducts/server/routes/published-content.js
  sites/utilityproducts/server/routes/website-section.js
  sites/utilityproducts/server/templates/index.marko
  sites/utilityproducts/server/templates/published-content/white-papers.marko
  sites/utilityproducts/server/templates/website-section/white-papers.marko
Labels: site: utilityproducts

#128 CS3413-SU-whitepaper
  sites/strategies-u/server/routes/published-content.js
  sites/strategies-u/server/routes/website-section.js
  sites/strategies-u/server/templates/index.marko
  sites/strategies-u/server/templates/published-content/white-papers.marko
  sites/strategies-u/server/templates/website-section/white-papers.marko
Labels: site: strategies-u

#130 CS3415-WTO-contact
  sites/watertechonline/config/site.js
Labels: site: watertechonline

#131 CS3414: BOW needed webcast buttons and product if
  sites/bioopticsworld/browser/index.js
  sites/bioopticsworld/server/components/inquiry-form.marko
  sites/bioopticsworld/server/components/marko.json
  sites/bioopticsworld/server/templates/content/index.marko
Labels: site: bioopticsworld

#136 FRN Update for break-up
  sites/foresternetwork/config/navigation.js
  sites/foresternetwork/server/styles/index.scss
  sites/foresternetwork/server/templates/index.marko
Labels: site: foresternetwork

#133 SU: added missing webinar and product info
  sites/strategies-u/browser/index.js
  sites/strategies-u/server/components/inquiry-form.marko
  sites/strategies-u/server/components/marko.json
  sites/strategies-u/server/templates/content/index.marko
Labels: site: strategies-u

#138 Correct GAM ads basepath for GXC
  sites/gxcontractor/config/gam.js
Labels: site: gxcontractor

#139 CS3447: Stormh2o update for linkedin
  sites/stormh2o/config/site.js
Labels: site: stormh2o

#132 DIQ: added webinar and product ifs
  sites/dentistryiq/browser/index.js
  sites/dentistryiq/package.json
  sites/dentistryiq/server/components/inquiry-form.marko
  sites/dentistryiq/server/components/marko.json
  sites/dentistryiq/server/templates/content/index.marko
Labels: site: dentistryiq

#134 EE - added webinar and products ifs
  sites/evaluationengineering/browser/index.js
  sites/evaluationengineering/package.json
  sites/evaluationengineering/server/components/inquiry-form.marko
  sites/evaluationengineering/server/components/marko.json
  sites/evaluationengineering/server/templates/content/index.marko
Labels: site: evaluationengineering

#143 CS3466-Stormh2o: nav updates
  sites/stormh2o/config/navigation.js
Labels: site: stormh2o

#142 CS3467-DistributedEnergy-nav updates
  sites/distributedenergy/config/navigation.js
Labels: site: distributedenergy

#140 FCN search icon - change from white to black for visibility
  sites/flowcontrolnetwork/server/styles/index.scss
Labels: site: flowcontrolnetwork

#144 Update @base-cms dependencies to 1.0.0-beta.16
  packages/common/package.json
  packages/inquiry/package.json
  sites/bioopticsworld/package.json
  sites/broadbandtechreport/package.json
  sites/cablinginstall/package.json
  sites/dentaleconomics/package.json
  sites/dentistryiq/package.json
  sites/distributedenergy/package.json
  sites/evaluationengineering/package.json
  sites/flowcontrolnetwork/package.json
  sites/foresternetwork/package.json
  sites/gxcontractor/package.json
  sites/industrial-lasers/package.json
  sites/intelligent-aerospace/package.json
  sites/laserfocusworld/package.json
  sites/ledsmagazine/package.json
  sites/lightwaveonline/package.json
  sites/militaryaerospace/package.json
  sites/mswmanagement/package.json
  sites/offshore-mag/package.json
  sites/perioimplantadvisory/package.json
  sites/processingmagazine/package.json
  sites/rdhmag/package.json
  sites/stormh2o/package.json
  sites/strategies-u/package.json
  sites/utilityproducts/package.json
  sites/vision-systems/package.json
  sites/watertechonline/package.json
  sites/waterworld/package.json
  yarn.lock
Labels: dependencies

#145 Added marko-core to inquiry
  packages/inquiry/package.json
Labels: dependencies

#149 CS3470-WTO: corrected advertise link in nav
  sites/watertechonline/config/navigation.js
Labels: 🌐 site: watertechonline

#147 WW Global Thought Leaders
  sites/waterworld/server/graphql/fragments/global-thought-leaders.js
  sites/waterworld/server/styles/index.scss
  sites/waterworld/server/templates/website-section/global-thought-leaders.marko
Labels: 🌐 site: waterworld

#151 Fix wastewater LB template
  sites/watertechonline/config/gam.js
Labels: 🌐 site: watertechonline

#152 Add Technology Guide to WTO primary navigation
  sites/watertechonline/config/navigation.js
Labels: 🌐 site: watertechonline

#155 Change webcasts path to /webinars in menu navigation
  sites/waterworld/config/navigation.js
Labels: 🌐 site: waterworld

#154 Set inquiry config options and update logo hostnames
  sites/bioopticsworld/config/site.js
  sites/broadbandtechreport/config/site.js
  sites/dentaleconomics/config/site.js
  sites/dentistryiq/config/site.js
  sites/distributedenergy/config/site.js
  sites/evaluationengineering/config/site.js
  sites/flowcontrolnetwork/config/site.js
  sites/foresternetwork/config/site.js
  sites/gxcontractor/config/site.js
  sites/intelligent-aerospace/config/site.js
  sites/mswmanagement/config/site.js
  sites/offshore-mag/config/site.js
  sites/perioimplantadvisory/config/site.js
  sites/processingmagazine/config/site.js
  sites/rdhmag/config/site.js
  sites/stormh2o/config/site.js
  sites/strategies-u/config/site.js
  sites/utilityproducts/config/site.js
  sites/watertechonline/config/site.js
  sites/waterworld/config/site.js
Labels: 🌐 site: bioopticsworld, 🌐 site: broadbandtechreport, 🌐 site: dentaleconomics, 🌐 site: dentistryiq, 🌐 site: distributedenergy, 🌐 site: evaluationengineering, 🌐 site: flowcontrolnetwork, 🌐 site: foresternetwork, 🌐 site: gxcontractor, 🌐 site: intelligent-aerospace, 🌐 site: mswmanagement, 🌐 site: offshore-mag, 🌐 site: perioimplantadvisory, 🌐 site: processingmagazine, 🌐 site: rdhmag, 🌐 site: stormh2o, 🌐 site: strategies-u, 🌐 site: utilityproducts, 🌐 site: watertechonline, 🌐 site: waterworld

#153 Change Stormwater primary color & logo
  sites/stormh2o/config/site.js
  sites/stormh2o/server/styles/index.scss
Labels: 🌐 site: stormh2o

#156 Add Free Reports (/white-papers) to menu and secondary nav
  sites/mswmanagement/config/navigation.js
Labels: 🌐 site: mswmanagement

#157 Add Free Reports (/white-papers) to menu and secondary nav
  sites/stormh2o/config/navigation.js
Labels: 🌐 site: stormh2o

#158 Set primary color to tertiary nav links
  sites/waterworld/server/styles/index.scss
Labels: 🌐 site: waterworld

#163 Convert whitepaper landing page to use website section
  sites/flowcontrolnetwork/server/routes/published-content.js
  sites/flowcontrolnetwork/server/routes/website-section.js
  sites/flowcontrolnetwork/server/templates/published-content/white-papers.marko
  sites/flowcontrolnetwork/server/templates/website-section/white-papers.marko
Labels: 🌐 site: flowcontrolnetwork

#165 Convert whitepaper landing page to use website section
  sites/watertechonline/server/routes/published-content.js
  sites/watertechonline/server/routes/website-section.js
  sites/watertechonline/server/templates/index.marko
  sites/watertechonline/server/templates/published-content/white-papers.marko
  sites/watertechonline/server/templates/website-section/white-papers.marko
Labels: 🌐 site: watertechonline

#164 Convert whitepaper landing page to use website section
  sites/processingmagazine/server/routes/published-content.js
  sites/processingmagazine/server/routes/website-section.js
  sites/processingmagazine/server/templates/published-content/white-papers.marko
  sites/processingmagazine/server/templates/website-section/white-papers.marko
Labels: 🌐 site: processingmagazine

#166 Fix logo, subscribe page & icons
  sites/stormh2o/config/site.js
  sites/stormh2o/server/public/android-chrome-192x192.png
  sites/stormh2o/server/public/android-chrome-512x512.png
  sites/stormh2o/server/public/apple-touch-icon.png
  sites/stormh2o/server/public/favicon-16x16.png
  sites/stormh2o/server/public/favicon-32x32.png
  sites/stormh2o/server/public/favicon.ico
  sites/stormh2o/server/templates/subscribe/index.marko
Labels: 🌐 site: stormh2o

#162 Add custom Industry website section
  sites/watertechonline/server/routes/website-section.js
  sites/watertechonline/server/templates/website-section/industry.marko
Labels: 🌐 site: watertechonline

#169 Rename Job Postings for dental sites
  sites/dentaleconomics/config/navigation.js
  sites/rdhmag/config/navigation.js
Labels: 🌐 site: dentaleconomics, 🌐 site: rdhmag

#168 Change Weekly to Monthly
  sites/stormh2o/server/templates/subscribe/index.marko
Labels: 🌐 site: stormh2o

#172 Remove Dental Office Design from nav/menu
  sites/dentaleconomics/config/navigation.js
Labels: 🌐 site: dentaleconomics

#171 Update contacts
  sites/flowcontrolnetwork/config/site.js
Labels: 🌐 site: flowcontrolnetwork

#174 Change Stormwater Weekly to Monthly
  sites/stormh2o/server/templates/subscribe/index.marko
Labels: 🌐 site: stormh2o

#175 Remove duplicate Inquiry form
  sites/ledsmagazine/server/templates/content/company.marko
  sites/lightwaveonline/server/templates/content/company.marko
  sites/militaryaerospace/server/templates/content/company.marko
Labels: 🌐 site: ledsmagazine, 🌐 site: lightwaveonline, 🌐 site: militaryaerospace

#176 Add margin to website section page rail
  sites/perioimplantadvisory/server/templates/website-section/index.marko
Labels: 🌐 site: perioimplantadvisory

#178 Officer GTM, Native-X configs
  sites/officer/config/native-x.js
  sites/officer/config/site.js
Labels: 🌐 site: officer

#180 Update GAM basepath for MLO
  sites/mlo-online/config/gam.js
Labels: 🌐 site: mlo-online
