Repository cygnusb2b/endeavor-business-media, pull requests merged in 2019-09, with the labels that each got.

#1 Disallow all for lfw
  sites/laserfocusworld/server/public/robots.txt
Labels: site: laserfocusworld

#4 Upgrade @base-cms dependencies to alpha.5
  packages/common/package.json
  sites/laserfocusworld/package.json
  sites/utilityproducts/package.json
  yarn.lock
Labels: dependencies

#6 Upgrade @base-cms dependencies to alpha.6
  sites/laserfocusworld/package.json
  sites/utilityproducts/package.json
  sites/vision-systems/package.json
  yarn.lock
Labels: dependencies

#9 Defined ad sizes in content rail
  sites/laserfocusworld/server/templates/content/index.marko
  sites/utilityproducts/server/templates/content/index.marko
  sites/vision-systems/server/templates/content/index.marko
Labels: site: laserfocusworld, site: utilityproducts, site: vision-systems

#12 No images for webcasts, no image requirement for lfw home blocks
  sites/laserfocusworld/server/templates/index.marko
  sites/militaryaerospace/server/templates/index.marko
  sites/vision-systems/server/templates/index.marko
Labels: site: laserfocusworld, site: militaryaerospace, site: vision-systems

#26 Upgrade @base-cms dependencies to beta.1
  docker-compose.yml
  package.json
  packages/common/package.json
  sites/cablinginstall/package.json
  sites/dentaleconomics/package.json
  sites/laserfocusworld/package.json
  sites/lightwaveonline/package.json
  sites/militaryaerospace/package.json
  sites/offshore-mag/package.json
  sites/rdhmag/package.json
  sites/utilityproducts/package.json
  sites/vision-systems/package.json
  yarn.lock
Labels: dependencies

#32 Updated VSD, UP, MAE, and CIM email sub links
  sites/cablinginstall/server/templates/subscribe/index.marko
  sites/militaryaerospace/server/templates/subscribe/index.marko
  sites/utilityproducts/server/templates/subscribe/index.marko
  sites/vision-systems/server/templates/subscribe/index.marko
Labels: site: cablinginstall, site: militaryaerospace, site: utilityproducts, site: vision-systems

#36 Updated robots for tech/bg sites
  sites/cablinginstall/server/public/robots.txt
  sites/industrial-lasers/server/public/robots.txt
  sites/intelligent-aerospace/server/public/robots.txt
  sites/laserfocusworld/server/public/robots.txt
  sites/ledsmagazine/server/public/robots.txt
  sites/lightwaveonline/server/public/robots.txt
  sites/militaryaerospace/server/public/robots.txt
  sites/vision-systems/server/public/robots.txt
Labels: site: cablinginstall, site: industrial-lasers, site: intelligent-aerospace, site: laserfocusworld, site: ledsmagazine, site: lightwaveonline, site: militaryaerospace, site: vision-systems

#37 CablingInstall.com Directory & Company Pages
  sites/cablinginstall/server/components/flows/content-list.marko
  sites/cablinginstall/server/components/flows/marko.json
  sites/cablinginstall/server/components/nodes/content-list.marko
  sites/cablinginstall/server/components/nodes/marko.json
  sites/cablinginstall/server/directory-categories.js
  sites/cablinginstall/server/graphql/fragments/website-section-page.js
  sites/cablinginstall/server/routes/content.js
  sites/cablinginstall/server/routes/website-section.js
  sites/cablinginstall/server/styles/index.scss
  sites/cablinginstall/server/templates/content/company.marko
  sites/cablinginstall/server/templates/website-section/directory.marko
Labels: site: cablinginstall

#39 Military & Aerospace Electronics Directory & Company Pages
  sites/militaryaerospace/server/components/flows/content-list.marko
  sites/militaryaerospace/server/components/flows/marko.json
  sites/militaryaerospace/server/components/nodes/content-list.marko
  sites/militaryaerospace/server/components/nodes/marko.json
  sites/militaryaerospace/server/directory-categories.js
  sites/militaryaerospace/server/routes/content.js
  sites/militaryaerospace/server/routes/website-section.js
  sites/militaryaerospace/server/styles/index.scss
  sites/militaryaerospace/server/templates/content/company.marko
  sites/militaryaerospace/server/templates/website-section/directory.marko
Labels: site: militaryaerospace

#41 Vision System Design Directory & Company Page
  sites/cablinginstall/server/components/nodes/marko.json
  sites/industrial-lasers/server/components/nodes/marko.json
  sites/laserfocusworld/server/components/nodes/marko.json
  sites/lightwaveonline/server/components/nodes/marko.json
  sites/militaryaerospace/server/components/nodes/marko.json
  sites/vision-systems/server/components/flows/content-list.marko
  sites/vision-systems/server/components/flows/marko.json
  sites/vision-systems/server/components/nodes/content-list.marko
  sites/vision-systems/server/components/nodes/marko.json
  sites/vision-systems/server/directory-categories.js
  sites/vision-systems/server/routes/content.js
  sites/vision-systems/server/routes/website-section.js
  sites/vision-systems/server/styles/index.scss
  sites/vision-systems/server/templates/content/company.marko
  sites/vision-systems/server/templates/website-section/directory.marko
Labels: site: vision-systems

#43 LED Directory & Company Pages
  sites/ledsmagazine/server/components/flows/content-list.marko
  sites/ledsmagazine/server/components/flows/marko.json
  sites/ledsmagazine/server/components/nodes/content-list.marko
  sites/ledsmagazine/server/components/nodes/marko.json
  sites/ledsmagazine/server/directory-categories.js
  sites/ledsmagazine/server/routes/content.js
  sites/ledsmagazine/server/routes/website-section.js
  sites/ledsmagazine/server/styles/index.scss
  sites/ledsmagazine/server/templates/content/company.marko
  sites/ledsmagazine/server/templates/website-section/directory.marko
Labels: site: ledsmagazine

#45 Add missing menu color types for VSD
  sites/vision-systems/server/styles/index.scss
Labels: site: vision-systems
