Repository cygnusb2b/endeavor-business-media, pull requests merged in 2019-12, with the labels that each got.

#183 SIW cleanup
  sites/securityinfowatch/config/gcse.js
  sites/securityinfowatch/config/site.js
  sites/securityinfowatch/server/templates/subscribe/index.marko
Labels: 🌐 site: securityinfowatch

#187 Fix spelling mistake in SIW robots
  sites/securityinfowatch/server/public/robots.txt
Labels: 🌐 site: securityinfowatch

#194 Events added to UP’s secondary nav
  sites/utilityproducts.com/config/navigation.js
Labels: 🌐 site: utilityproducts

#193 Fix sponsored section on SIW homepage
  sites/securityinfowatch.com/server/templates/index.marko
Labels: 🌐 site: securityinfowatch

#195 Capitalize Federal in menu
  sites/officer.com/config/navigation.js
Labels: 🌐 site: officer

#204 MLO cleanup
  sites/mlo-online.com/package.json
  sites/mlo-online.com/server/components/flows/content-list.marko
  sites/mlo-online.com/server/routes/published-content.js
  sites/mlo-online.com/server/routes/website-section.js
  sites/mlo-online.com/server/templates/content/company.marko
  sites/mlo-online.com/server/templates/published-content/whitepapers.marko
  sites/mlo-online.com/server/templates/subscribe/index.marko
  sites/mlo-online.com/server/templates/website-section/white-papers.marko
Labels: 🌐 site: mlo-online

#203 Update “fl” ad unit to support 300x50 in addition to 600x100
  sites/securityinfowatch.com/config/gam.js
Labels: 🌐 site: securityinfowatch

#200 FHC shiftcalendar
  sites/firehouse.com/config/navigation.js
  sites/firehouse.com/server/routes/index.js
  sites/firehouse.com/server/routes/shiftcalendar.js
  sites/firehouse.com/server/templates/shiftcalendar.marko
Labels: 🌐 site: firehouse.com

#205 Child ad units for VMW, CPA, VSP
  sites/cpapracticeadvisor.com/config/gam.js
  sites/vehicleservicepros.com/config/gam.js
  sites/vendingmarketwatch.com/config/gam.js
Labels: 🌐 site: cpapracticeadvisor, 🌐 site: vehicleservicepros, 🌐 site: vendingmarketwatch

#202 FHC Run Surveys, 40th Anniversary
  sites/firehouse.com/server/graphql/fragments/content-list-body.js
  sites/firehouse.com/server/routes/website-section.js
  sites/firehouse.com/server/templates/website-section/anniversary.marko
  sites/firehouse.com/server/templates/website-section/run-surveys.marko
  sites/firehouse.com/server/templates/website-section/valor-awards.marko
Labels: 🌐 site: firehouse.com

#207 Add custom “Summits” block to HCI homepage
  sites/hcinnovationgroup.com/server/graphql/fragments/content-list-body.js
  sites/hcinnovationgroup.com/server/templates/index.marko
Labels: 🌐 site: hcinnovationgroup
