Repository cygnusb2b/endeavor-business-media, pull requests merged in 2020-08, with the labels that each got.

#518 Add ad alias config for giveaway page
  sites/vehicleservicepros.com/config/gam.js
Labels: 🌐 site: vehicleservicepros.com

#521 Update “Dental Jobs” to “Dental Works” on DIQ nav
  sites/dentistryiq.com/config/navigation.js
Labels: 🌐 site: dentistryiq.com

#519 Add ad alias config for HCI’s topic-takeover
  sites/hcinnovationgroup.com/config/gam.js
Labels: 🌐 site: hcinnovationgroup.com

#520 Update 40 under 40 links on LEDs
  sites/ledsmagazine.com/config/navigation.js
Labels: 🌐 site: ledsmagazine.com

#523 Global thought leaders page.
  sites/watertechonline.com/server/graphql/fragments/global-thought-leaders.js
  sites/watertechonline.com/server/routes/website-section.js
  sites/watertechonline.com/server/templates/website-section/global-thought-leaders.marko
Labels: 🌐 site: watertechonline.com

#526 Update omeda query for EE
  sites/evaluationengineering.com/config/dragon-forms.js
Labels: 🌐 site: evaluationengineering.com

#527 Move LB above hero on MTM, CPA, and TPA index page
  sites/cpapracticeadvisor.com/server/templates/index.marko
  sites/masstransitmag.com/server/templates/index.marko
  sites/taxpracticeadvisor.com/server/templates/index.marko
Labels: 🌐 site: cpapracticeadvisor.com, 🌐 site: masstransitmag.com, 🌐 site: taxpracticeadvisor.com

#530 Update /subscribe page
  sites/dentistryiq.com/server/templates/subscribe/index.marko
Labels: 🌐 site: dentistryiq.com

#529 Remove /industry section page template override
  sites/watertechonline.com/server/routes/website-section.js
  sites/watertechonline.com/server/templates/website-section/industry.marko
Labels: 🌐 site: watertechonline.com

#528 Homepage block update
  sites/locksmithledger.com/server/templates/index.marko
Labels: 🌐 site: locksmithledger.com

#525 Algolia Styling
  packages/common/browser/algolia/site-search.vue
  packages/common/scss/algolia.scss
Labels: enhancement

#534 Enabled identityX for PIA login / register
  sites/perioimplantadvisory.com/config/site.js
  yarn.lock
Labels: 🌐 site: perioimplantadvisory.com

#532 /webinars added to site menu
  sites/vendingmarketwatch.com/config/navigation.js
Labels: 🌐 site: vendingmarketwatch.com

#533 Reorder homepage blocks on HCI
  sites/hcinnovationgroup.com/server/templates/index.marko
Labels: 🌐 site: hcinnovationgroup.com

#535 Updated ‘Subscribe’ href in EE’s nav
  sites/evaluationengineering.com/config/navigation.js
Labels: 🌐 site: evaluationengineering.com

#536 Upgrade @base-cms dependencies to 1.34.0
  packages/common/package.json
  packages/contact-us/package.json
  packages/directory/package.json
  packages/inquiry/package.json
  packages/leaders/package.json
  packages/photoswipe/package.json
  packages/shared/package.json
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/plasticsmachinerymagazine.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/taxpracticeadvisor.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL
