Repository cygnusb2b/endeavor-business-media, pull requests merged in 2020-12, with the labels that each got.

#605 Add 2020 top 100 section
  sites/vehicleservicepros.com/server/categories.js
  sites/vehicleservicepros.com/server/styles/index.scss
Labels: 🌐 site: vehicleservicepros.com

#606 In Article Video Ad Unit
  packages/shared/components/layouts/content/default.marko
  packages/shared/config/gam.js
  sites/hcinnovationgroup.com/config/gam.js
  sites/officer.com/config/gam.js
  sites/vehicleservicepros.com/config/gam.js
Labels: 🌐 site: hcinnovationgroup.com, 🌐 site: officer.com, 🌐 site: vehicleservicepros.com

#595 SoW: VSP updates
  packages/common/components/directory/components/facet-container/facet-container.marko
  packages/directory/components/components/facet-container/facet-container.marko
  packages/shared/components/layouts/website-section/directory/scheduled-content.marko
  packages/shared/components/layouts/website-section/marko.json
  sites/vehicleservicepros.com/config/dragon-forms.js
  sites/vehicleservicepros.com/config/gam.js
  sites/vehicleservicepros.com/config/navigation.js
  sites/vehicleservicepros.com/config/site.js
  sites/vehicleservicepros.com/server/categories.js
  sites/vehicleservicepros.com/server/routes/website-section.js
  sites/vehicleservicepros.com/server/styles/index.scss
  sites/vehicleservicepros.com/server/templates/index.marko
  sites/vehicleservicepros.com/server/templates/website-section/directory.marko
Labels: 🌐 site: vehicleservicepros.com

#619 Add ‘BioOptics’ to site menu and primary nav
  sites/laserfocusworld.com/config/navigation.js
Labels: 🌐 site: laserfocusworld.com

#611 Officer Video page updates
  sites/officer.com/config/gam.js
  sites/officer.com/config/navigation.js
  sites/officer.com/server/routes/published-content.js
Labels: do not merge, 🌐 site: officer.com

#621 Correct pub code in “Leaders” logo file path
  sites/cablinginstall.com/config/leaders.js
  sites/officer.com/config/leaders.js
Labels: 🌐 site: cablinginstall.com, 🌐 site: officer.com

#603 update home page blocks
  sites/officer.com/server/templates/index.marko
Labels: 🌐 site: officer.com
