Repository cygnusb2b/endeavor-business-media, pull requests merged in 2020-10, with the labels that each got.

#562 Add ‘Global Thought Leaders’ to site menu & nav
  sites/watertechonline.com/config/navigation.js
Labels: 🌐 site: watertechonline.com

#566 Update newsletter signup on /subscribe
  sites/flowcontrolnetwork.com/config/dragon-forms.js
Labels: 🌐 site: flowcontrolnetwork.com

#567 Update TPA’s /subscribe page
  sites/taxpracticeadvisor.com/server/templates/subscribe/index.marko
Labels: 🌐 site: taxpracticeadvisor.com

#565 Update navigations for ILS and LFW
  sites/industrial-lasers.com/config/navigation.js
  sites/industrial-lasers.com/server/styles/index.scss
  sites/laserfocusworld.com/config/navigation.js
  sites/laserfocusworld.com/server/styles/index.scss
Labels: 🌐 site: industrial-lasers.com, 🌐 site: laserfocusworld.com

#571 Update signup dragonform url for AVP and FCN
  sites/aviationpros.com/config/dragon-forms.js
  sites/flowcontrolnetwork.com/config/dragon-forms.js
Labels: 🌐 site: aviationpros.com, 🌐 site: flowcontrolnetwork.com

#573 Update blocks on EE homepage
  sites/evaluationengineering.com/server/templates/index.marko
Labels: 🌐 site: evaluationengineering.com

#572 Add “Podcast” to site menu
  sites/firehouse.com/config/navigation.js
Labels: 🌐 site: firehouse.com

#576 Turn GAM lazyload off for Firehouse
  sites/firehouse.com/config/gam.js
Labels: 🌐 site: firehouse.com

#578 Add ad alias for HCI
  sites/hcinnovationgroup.com/config/gam.js
Labels: ASAP, 🌐 site: hcinnovationgroup.com

#563 Update Officer inquiry notifications address
  sites/officer.com/config/site.js
Labels: 🌐 site: officer.com

#580 Update SIW navigation
  sites/securityinfowatch.com/config/navigation.js
  sites/securityinfowatch.com/server/styles/index.scss
Labels: 🌐 site: securityinfowatch.com

#581 Correct footer layout on mobile
  packages/shared/scss/core.scss
Labels: 🌐 site: ALL

#583 Reduce sponsor logo size on Global Thought Leaders page for WTO
  sites/watertechonline.com/server/styles/index.scss
  sites/watertechonline.com/server/templates/website-section/global-thought-leaders.marko
Labels: 🌐 site: watertechonline.com

#582 Add White Papers item to PMM navigation
  sites/plasticsmachinerymagazine.com/config/navigation.js
Labels: 🌐 site: plasticsmachinerymagazine.com

#584 Update TPA Subscribe page verbiage
  sites/taxpracticeadvisor.com/server/templates/subscribe/index.marko
Labels: 🌐 site: taxpracticeadvisor.com

#585 Update newsletter subscribe links
  sites/vision-systems.com/config/dragon-forms.js
  sites/vision-systems.com/server/templates/subscribe/index.marko
Labels: 🌐 site: vision-systems.com

#586 Add events to menu
  sites/broadbandtechreport.com/config/navigation.js
  sites/lightwaveonline.com/config/navigation.js
Labels: 🌐 site: broadbandtechreport.com, 🌐 site: lightwaveonline.com
