Repository cygnusb2b/endeavor-business-media, pull requests merged in 2020-04, with the labels that each got.

#400 Add covid-19 gam config for all EBM sites
  sites/aviationpros.com/config/gam.js
  sites/bioopticsworld.com/config/gam.js
  sites/broadbandtechreport.com/config/gam.js
  sites/cablinginstall.com/config/gam.js
  sites/cpapracticeadvisor.com/config/gam.js
  sites/dentaleconomics.com/config/gam.js
  sites/distributedenergy.com/config/gam.js
  sites/evaluationengineering.com/config/gam.js
  sites/firehouse.com/config/gam.js
  sites/flowcontrolnetwork.com/config/gam.js
  sites/foresternetwork.com/config/gam.js
  sites/gxcontractor.com/config/gam.js
  sites/hcinnovationgroup.com/config/gam.js
  sites/hpnonline.com/config/gam.js
  sites/industrial-lasers.com/config/gam.js
  sites/intelligent-aerospace.com/config/gam.js
  sites/laserfocusworld.com/config/gam.js
  sites/ledsmagazine.com/config/gam.js
  sites/lightwaveonline.com/config/gam.js
  sites/locksmithledger.com/config/gam.js
  sites/masstransitmag.com/config/gam.js
  sites/militaryaerospace.com/config/gam.js
  sites/mlo-online.com/config/gam.js
  sites/mswmanagement.com/config/gam.js
  sites/officer.com/config/gam.js
  sites/offshore-mag.com/config/gam.js
  sites/perioimplantadvisory.com/config/gam.js
  sites/plasticsmachinerymagazine.com/config/gam.js
  sites/processingmagazine.com/config/gam.js
  sites/rdhmag.com/config/gam.js
  sites/securityinfowatch.com/config/gam.js
  sites/stormh2o.com/config/gam.js
  sites/strategies-u.com/config/gam.js
  sites/utilityproducts.com/config/gam.js
  sites/vehicleservicepros.com/config/gam.js
  sites/vendingmarketwatch.com/config/gam.js
  sites/vision-systems.com/config/gam.js
  sites/watertechonline.com/config/gam.js
  sites/waterworld.com/config/gam.js
Labels: 🌐 site: ALL

#396 Add What’s Trending to Primary & Topic navigation
  sites/rdhmag.com/config/navigation.js
Labels: 🌐 site: rdhmag.com

#394 Add COVID-19 to menus
  sites/firehouse.com/config/navigation.js
Labels: 🌐 site: firehouse.com

#395 Add COVID-19 to navigation
  sites/cpapracticeadvisor.com/config/navigation.js
Labels: 🌐 site: cpapracticeadvisor.com

#393 Add COVID block and Nav items
  sites/dentaleconomics.com/config/navigation.js
  sites/dentaleconomics.com/server/templates/index.marko
Labels: 🌐 site: dentaleconomics.com

#398 Add Supplements to secondary and resource nav
  sites/mswmanagement.com/config/navigation.js
Labels: 🌐 site: mswmanagement.com

#402 Add COVID-19 links
  sites/distributedenergy.com/config/navigation.js
  sites/rdhmag.com/config/navigation.js
  sites/rdhmag.com/server/templates/index.marko
  sites/utilityproducts.com/config/navigation.js
Labels: 🌐 site: distributedenergy.com, 🌐 site: rdhmag.com, 🌐 site: utilityproducts.com

#403 Update contact us email address
  sites/plasticsmachinerymagazine.com/config/site.js
Labels: 🌐 site: plasticsmachinerymagazine.com

#404 Update newsletter subscribe URL
  sites/stormh2o.com/server/templates/subscribe/index.marko
Labels: 🌐 site: stormh2o.com

#406 Updated webcasts block to include whitepapers
  sites/ledsmagazine.com/server/templates/index.marko
Labels: 🌐 site: ledsmagazine.com

#405 Updates for /webinars on PMM
  packages/shared/templates/published-content/webinars.marko
  sites/plasticsmachinerymagazine.com/config/navigation.js
  sites/plasticsmachinerymagazine.com/server/routes/published-content.js
Labels: 🌐 site: plasticsmachinerymagazine.com

#407 Add Coronavirus topic to site menu
  sites/offshore-mag.com/config/navigation.js
Labels: 🌐 site: offshore-mag.com

#409 Upgrade @base-cms dependencies to 1.25.11
  packages/gam-prestitial/package.json
  packages/shared/package.json
  sites/offshore-mag.com/package.json
  sites/strategies-u.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#410 Add "whats-trending" ad units
  sites/rdhmag.com/config/gam.js
Labels: 🌐 site: rdhmag.com

#411 Update subscribe pages to reference the correct site name
  sites/cpapracticeadvisor.com/server/templates/subscribe/index.marko
  sites/firehouse.com/server/templates/subscribe/index.marko
  sites/masstransitmag.com/server/templates/subscribe/index.marko
  sites/officer.com/server/templates/subscribe/index.marko
  sites/securityinfowatch.com/server/templates/subscribe/index.marko
Labels: 🌐 site: cpapracticeadvisor.com, 🌐 site: firehouse.com, 🌐 site: masstransitmag.com, 🌐 site: officer.com, 🌐 site: securityinfowatch.com

#412 Use channel layout on "covid-19" website section page
  sites/firehouse.com/server/routes/website-section.js
Labels: 🌐 site: firehouse.com

#414 Update newsletter signup form config
  sites/cpapracticeadvisor.com/config/dragon-forms.js
Labels: 🌐 site: cpapracticeadvisor.com

#415 Add core Inquiry package and enable Radix for "legacy Cygnus" sites
  packages/shared/browser/index.js
  packages/shared/components/content-page/contents.marko
  packages/shared/components/document.marko
  packages/shared/components/inquiry-form.marko
  packages/shared/components/marko.json
  packages/shared/package.json
  packages/shared/scss/components/inquiry.scss
  packages/shared/scss/core.scss
  packages/shared/scss/cygnus-skin.scss
  packages/shared/start-server.js
  packages/shared/templates/content/company.marko
  sites/aviationpros.com/config/site.js
  sites/cpapracticeadvisor.com/config/site.js
  sites/firehouse.com/config/site.js
  sites/locksmithledger.com/config/site.js
  sites/masstransitmag.com/config/site.js
  sites/officer.com/config/site.js
  sites/securityinfowatch.com/config/site.js
  sites/vehicleservicepros.com/config/site.js
  sites/vendingmarketwatch.com/config/site.js
  yarn.lock
Labels: 🌐 site: aviationpros.com, 🌐 site: cpapracticeadvisor.com, 🌐 site: firehouse.com, 🌐 site: locksmithledger.com, 🌐 site: masstransitmag.com, 🌐 site: officer.com, 🌐 site: securityinfowatch.com, 🌐 site: vehicleservicepros.com, 🌐 site: vendingmarketwatch.com, 📦 package: shared

#413 Set Supplements page to use whitepaper template
  packages/shared/components/layouts/website-section/feed.marko
  sites/mswmanagement.com/config/navigation.js
  sites/mswmanagement.com/server/routes/website-section.js
Labels: 🌐 site: mswmanagement.com, 📦 package: shared

#416 Create custom ad config for empowering alias
  sites/hcinnovationgroup.com/config/gam.js
Labels: 🌐 site: hcinnovationgroup.com

#417 Change Dental Office Design block to Webcasts
  sites/dentaleconomics.com/server/templates/index.marko
Labels: 🌐 site: dentaleconomics.com

#419 Add Conference link to nav
  sites/rdhmag.com/config/navigation.js
Labels: 🌐 site: rdhmag.com

#420 Update image reference from ILS to IAS to match website brand
  sites/intelligent-aerospace.com/config/site.js
Labels: 🌐 site: intelligent-aerospace.com

#408 Add section override with diagnostic feed block
  sites/vehicleservicepros.com/server/routes/website-section.js
  sites/vehicleservicepros.com/server/styles/index.scss
  sites/vehicleservicepros.com/server/templates/website-section/diagnostic-network-feed.marko
Labels: 🌐 site: vehicleservicepros.com

#421 Update editorial director for DACE
  sites/dentistryiq.com/server/templates/subscribe/index.marko
Labels: 🌐 site: dentistryiq.com

#423 Update empowering GAM alias to patient-empowerment
  sites/hcinnovationgroup.com/config/gam.js
Labels: 🌐 site: hcinnovationgroup.com

#422 Update inquiry email background color
  sites/cablinginstall.com/config/site.js
Labels: 🌐 site: cablinginstall.com

#424 Enable skyscrapers on Dental sites
  sites/dentaleconomics.com/config/gam.js
  sites/dentaleconomics.com/server/templates/content/index.marko
  sites/dentaleconomics.com/server/templates/index.marko
  sites/dentaleconomics.com/server/templates/website-section/index.marko
  sites/dentistryiq.com/config/gam.js
  sites/dentistryiq.com/server/templates/content/index.marko
  sites/dentistryiq.com/server/templates/index.marko
  sites/dentistryiq.com/server/templates/website-section/index.marko
  sites/perioimplantadvisory.com/config/gam.js
  sites/perioimplantadvisory.com/server/templates/content/index.marko
  sites/perioimplantadvisory.com/server/templates/index.marko
  sites/perioimplantadvisory.com/server/templates/website-section/index.marko
  sites/rdhmag.com/config/gam.js
  sites/rdhmag.com/server/templates/content/index.marko
  sites/rdhmag.com/server/templates/index.marko
  sites/rdhmag.com/server/templates/website-section/index.marko
Labels: 🌐 site: dentaleconomics.com, 🌐 site: dentistryiq.com, 🌐 site: perioimplantadvisory.com, 🌐 site: rdhmag.com

#425 Update Buyer's Guide categories/sections
  sites/militaryaerospace.com/server/categories.js
  sites/vision-systems.com/server/directory-categories.js
Labels: 🌐 site: militaryaerospace.com, 🌐 site: vision-systems.com

#426 Move leaderboard ad to the top of home page
  sites/plasticsmachinerymagazine.com/server/templates/index.marko
Labels: 🌐 site: plasticsmachinerymagazine.com

#427 Update resources hamburger nav
  sites/evaluationengineering.com/config/navigation.js
Labels: 🌐 site: evaluationengineering.com

#428 Update advertise links
  sites/aviationpros.com/config/navigation.js
Labels: 🌐 site: aviationpros.com

#429 Remove last row of home page blocks
  sites/processingmagazine.com/server/templates/index.marko
Labels: 🌐 site: processingmagazine.com

#430 Update dragonform newsletter URLs
  sites/aviationpros.com/config/dragon-forms.js
  sites/bioopticsworld.com/config/dragon-forms.js
  sites/broadbandtechreport.com/config/dragon-forms.js
  sites/cablinginstall.com/config/dragon-forms.js
  sites/cpapracticeadvisor.com/config/dragon-forms.js
  sites/dentaleconomics.com/config/dragon-forms.js
  sites/firehouse.com/config/dragon-forms.js
  sites/hcinnovationgroup.com/config/dragon-forms.js
  sites/industrial-lasers.com/config/dragon-forms.js
  sites/intelligent-aerospace.com/config/dragon-forms.js
  sites/laserfocusworld.com/config/dragon-forms.js
  sites/locksmithledger.com/config/dragon-forms.js
  sites/masstransitmag.com/config/dragon-forms.js
  sites/militaryaerospace.com/config/dragon-forms.js
Labels: 🌐 site: aviationpros.com, 🌐 site: bioopticsworld.com, 🌐 site: broadbandtechreport.com, 🌐 site: cablinginstall.com, 🌐 site: cpapracticeadvisor.com, 🌐 site: dentaleconomics.com, 🌐 site: firehouse.com, 🌐 site: hcinnovationgroup.com, 🌐 site: industrial-lasers.com, 🌐 site: intelligent-aerospace.com, 🌐 site: laserfocusworld.com, 🌐 site: locksmithledger.com, 🌐 site: masstransitmag.com, 🌐 site: militaryaerospace.com

#432 Add missing directory categories
  sites/militaryaerospace.com/server/categories.js
Labels: 🌐 site: militaryaerospace.com

#434 Setup leaders
  sites/officer.com/config/leaders.js
  sites/officer.com/config/site.js
  sites/officer.com/server/styles/index.scss
  sites/officer.com/server/templates/index.marko
Labels: 🌐 site: officer.com

#435 Add Quick Chat Videos to site menu
  sites/firehouse.com/config/navigation.js
Labels: 🌐 site: firehouse.com

#436 Update webcasts to webinars
  sites/officer.com/config/navigation.js
  sites/officer.com/server/routes/published-content.js
Labels: 🌐 site: officer.com

#437 Upgrade @base-cms dependencies to 1.27.0
  packages/common/package.json
  packages/contact-us/package.json
  packages/directory/package.json
  packages/inquiry/package.json
  packages/leaders/package.json
  packages/photoswipe/package.json
  packages/shared/package.json
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/plasticsmachinerymagazine.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/taxpracticeadvisor.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#438 Update advertise links for FCN and PM
  sites/flowcontrolnetwork.com/config/navigation.js
  sites/processingmagazine.com/config/navigation.js
Labels: 🌐 site: flowcontrolnetwork.com, 🌐 site: processingmagazine.com
