Repository cygnusb2b/endeavor-business-media, pull requests merged in 2020-03, with the labels that each got.

#343 Update email on Free Samples website section
  sites/dentistryiq.com/server/templates/website-section/products-free-samples.marko
Labels: 🌐 site: dentistryiq.com

#344 Create "no ads / load more" shared template
  packages/shared/components/blocks/related-content.marko
  packages/shared/components/content-page/contents.marko
  packages/shared/components/layouts/content/default.marko
  packages/shared/components/layouts/content/marko.json
  packages/shared/templates/content/no-ads-load-more.marko
  sites/aviationpros.com/server/routes/content.js
  sites/dentaleconomics.com/server/routes/content.js
  sites/dentaleconomics.com/server/templates/content/whitepaper.marko
  sites/laserfocusworld.com/server/routes/content.js
  sites/laserfocusworld.com/server/templates/content/whitepaper.marko
Labels: 🌐 site: aviationpros.com, 🌐 site: dentaleconomics.com, 🌐 site: laserfocusworld.com, 📦 package: shared

#333 Prestitial/welcome ad v2 support
  packages/gam-prestitial/components/components/prestitial-script.marko
  packages/gam-prestitial/components/marko.json
  packages/gam-prestitial/components/prestitial.marko
  packages/gam-prestitial/marko.json
  packages/gam-prestitial/package.json
  packages/gam-prestitial/scss/prestitial.scss
  packages/shared/components/document.marko
  packages/shared/components/layouts/content/default.marko
  packages/shared/components/layouts/published-content/card-deck.marko
  packages/shared/components/layouts/published-content/list.marko
  packages/shared/components/layouts/subscribe.marko
  packages/shared/components/layouts/website-section/default.marko
  packages/shared/package.json
  packages/shared/scss/core.scss
  packages/shared/templates/dynamic-page/index.marko
  packages/shared/templates/magazine/index.marko
  packages/shared/templates/magazine/issue.marko
  packages/shared/templates/magazine/publication.marko
  sites/bioopticsworld.com/package.json
  sites/bioopticsworld.com/server/components/document.marko
  sites/bioopticsworld.com/server/styles/index.scss
  sites/bioopticsworld.com/server/templates/content/company.marko
  sites/bioopticsworld.com/server/templates/content/index.marko
  sites/bioopticsworld.com/server/templates/dynamic-page/index.marko
  sites/bioopticsworld.com/server/templates/index.marko
  sites/bioopticsworld.com/server/templates/magazine/index.marko
  sites/bioopticsworld.com/server/templates/magazine/issue.marko
  sites/bioopticsworld.com/server/templates/magazine/publication.marko
  sites/bioopticsworld.com/server/templates/published-content/events.marko
  sites/bioopticsworld.com/server/templates/published-content/videos.marko
  sites/bioopticsworld.com/server/templates/published-content/webinars.marko
  sites/bioopticsworld.com/server/templates/subscribe/index.marko
  sites/bioopticsworld.com/server/templates/website-section/directory.marko
  sites/bioopticsworld.com/server/templates/website-section/index.marko
  sites/bioopticsworld.com/server/templates/website-section/white-papers.marko
Labels: 🌐 site: aviationpros.com, 🌐 site: bioopticsworld.com, 🌐 site: dentaleconomics.com, 🌐 site: laserfocusworld.com, 📦 package: gam-prestitial, 📦 package: shared

#346 Rename “Clinical” section to “Dentistry” and update navigation
  sites/dentistryiq.com/config/navigation.js
  sites/dentistryiq.com/server/templates/index.marko
Labels: 🌐 site: dentistryiq.com

#347 Added awards link to hamburger nav
  sites/lightwaveonline.com/config/navigation.js
Labels: 🌐 site: lightwaveonline.com

#336 Setup leaders for VSD
  packages/shared/scss/components/leaders.scss
  packages/shared/scss/core.scss
  sites/vision-systems.com/config/leaders.js
  sites/vision-systems.com/config/site.js
  sites/vision-systems.com/package.json
  sites/vision-systems.com/server/components/blocks/related-content.marko
  sites/vision-systems.com/server/styles/index.scss
  sites/vision-systems.com/server/templates/content/index.marko
  sites/vision-systems.com/server/templates/index.marko
Labels: 🌐 site: vision-systems.com

#351 Inquiry form cleanup
  packages/inquiry/browser/default-form.vue
  packages/inquiry/scss/index.scss
  packages/shared/components/inquiry-form.marko
  packages/shared/scss/core.scss
Labels: 🌐 site: ALL, 📦 package: inquiry, 📦 package: shared

#352 Setup leaders for LFW
  sites/laserfocusworld.com/config/leaders.js
  sites/laserfocusworld.com/config/site.js
  sites/laserfocusworld.com/server/styles/index.scss
  sites/laserfocusworld.com/server/templates/index.marko
Labels: 🌐 site: laserfocusworld.com

#359 Remove unnecessary max lines variable for LFW
  sites/laserfocusworld.com/server/styles/index.scss
Labels: 🌐 site: laserfocusworld.com

#360 Update white papers route and template
  sites/waterworld.com/server/routes/published-content.js
  sites/waterworld.com/server/routes/website-section.js
  sites/waterworld.com/server/templates/website-section/white-papers.marko
Labels: 🌐 site: waterworld.com

#357 Only suppress inquiry form header on company pages
  packages/shared/components/inquiry-form.marko
  packages/shared/components/marko.json
  packages/shared/templates/content/company.marko
Labels: 🌐 site: ALL, 📦 package: shared

#365 Upgrade @base-cms dependencies to 1.25.0
  packages/common/package.json
  packages/contact-us/package.json
  packages/directory/package.json
  packages/gam-prestitial/package.json
  packages/inquiry/package.json
  packages/leaders/package.json
  packages/photoswipe/package.json
  packages/shared/package.json
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/plasticsmachinerymagazine.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#367 Fix ad unit aliases within card deck list layout
  packages/shared/components/layouts/website-section/card-deck-list.marko
Labels: 🌐 site: ALL, 📦 package: shared

#369 Replace “Ergonomics” with “Covid-19”
  sites/rdhmag.com/server/templates/index.marko
Labels: 🌐 site: rdhmag.com

#368 Replace Latest with Industry News on homepage
  sites/securityinfowatch.com/server/templates/index.marko
Labels: 🌐 site: securityinfowatch.com

#370 Remove Magazine section from subscribe page
  sites/broadbandtechreport.com/server/templates/subscribe/index.marko
Labels: 🌐 site: broadbandtechreport.com

#372 Create custom website section page for COVID-19
  sites/rdhmag.com/server/routes/website-section.js
  sites/rdhmag.com/server/templates/website-section/covid-19.marko
Labels: 🌐 site: rdhmag.com

#373 Remove magazine section from subscribe page
  sites/lightwaveonline.com/server/templates/subscribe/index.marko
Labels: 🌐 site: lightwaveonline.com

#374 COVID-19 channel changes, homepage reordering
  sites/dentistryiq.com/config/gam.js
  sites/dentistryiq.com/config/navigation.js
  sites/dentistryiq.com/server/styles/index.scss
  sites/dentistryiq.com/server/templates/index.marko
Labels: 🌐 site: dentistryiq.com

#375 Add COVID-19 sections
  sites/securityinfowatch.com/config/navigation.js
  sites/securityinfowatch.com/server/templates/index.marko
Labels: 🌐 site: securityinfowatch.com

#378 Create custom COVID-19 section page
  sites/dentistryiq.com/server/routes/website-section.js
  sites/dentistryiq.com/server/templates/website-section/covid-19.marko
Labels: 🌐 site: dentistryiq.com

#380 Include leaders only if related content is displayed
  packages/shared/components/content-page/right-rail.marko
Labels: 🌐 site: ALL

#381 Update newrelic.js to use shared package
  sites/cpapracticeadvisor.com/newrelic.js
  sites/distributedenergy.com/newrelic.js
  sites/firehouse.com/newrelic.js
  sites/flowcontrolnetwork.com/newrelic.js
  sites/foresternetwork.com/newrelic.js
  sites/gxcontractor.com/newrelic.js
  sites/masstransitmag.com/newrelic.js
  sites/mswmanagement.com/newrelic.js
  sites/officer.com/newrelic.js
  sites/offshore-mag.com/newrelic.js
  sites/securityinfowatch.com/newrelic.js
  sites/stormh2o.com/newrelic.js
  sites/strategies-u.com/newrelic.js
  sites/utilityproducts.com/newrelic.js
  sites/vendingmarketwatch.com/newrelic.js
  sites/watertechonline.com/newrelic.js
Labels: 🌐 site: cpapracticeadvisor.com, 🌐 site: distributedenergy.com, 🌐 site: firehouse.com, 🌐 site: flowcontrolnetwork.com, 🌐 site: foresternetwork.com, 🌐 site: gxcontractor.com, 🌐 site: masstransitmag.com, 🌐 site: mswmanagement.com, 🌐 site: officer.com, 🌐 site: offshore-mag.com, 🌐 site: securityinfowatch.com, 🌐 site: stormh2o.com, 🌐 site: strategies-u.com, 🌐 site: utilityproducts.com, 🌐 site: vendingmarketwatch.com, 🌐 site: watertechonline.com

#382 Fix search API key
  sites/vision-systems.com/config/gcse.js
Labels: 🌐 site: vision-systems.com

#387 Reduce leaders promotion and video card counts
  packages/leaders/components/all.marko
  packages/leaders/components/contextual.marko
  packages/leaders/components/home-page.marko
  packages/leaders/package.json
  packages/shared/scss/core.scss
  yarn.lock
Labels: 🌐 site: ALL, 📦 package: leaders

#389 Add covid-19 blocks to home page
  sites/flowcontrolnetwork.com/server/templates/index.marko
  sites/processingmagazine.com/server/templates/index.marko
Labels: 🌐 site: flowcontrolnetwork.com, 🌐 site: processingmagazine.com

#392 Add COVID-19 to menu
  sites/evaluationengineering.com/config/navigation.js
Labels: 🌐 site: evaluationengineering.com

#391 Drop COVID-19 from primary nav
  sites/vehicleservicepros.com/config/navigation.js
Labels: 🌐 site: vehicleservicepros.com
