Repository cygnusb2b/endeavor-business-media, pull requests merged in 2020-01, with the labels that each got.

#211 Update GTM ID
  sites/vendingmarketwatch.com/config/site.js
Labels: 🌐 site: vendingmarketwatch

#212 Set Events page description
  sites/waterworld.com/server/templates/published-content/events.marko
Labels: 🌐 site: waterworld

#213 Update contact us email address
  sites/processingmagazine.com/config/site.js
Labels: 🌐 site: processingmagazine

#214 Add inquiry route handler
  sites/stormh2o.com/server/routes/index.js
  sites/utilityproducts.com/server/routes/index.js
  sites/watertechonline.com/server/routes/index.js
  sites/waterworld.com/server/routes/index.js
Labels: 🌐 site: stormh2o, 🌐 site: utilityproducts, 🌐 site: watertechonline, 🌐 site: waterworld

#215 Add events to secondary nav
  sites/distributedenergy.com/config/navigation.js
Labels: 🌐 site: distributedenergy

#219 Update Career Center nav link
  sites/masstransitmag.com/config/navigation.js
Labels: 🌐 site: masstransitmag

#217 Add Forester University to subscribe page
  sites/foresternetwork.com/server/templates/subscribe/index.marko
Labels: 🌐 site: foresternetwork

#222 Add Manufacturing, Services and Testing link to menu
  sites/ledsmagazine.com/config/navigation.js
Labels: 🌐 site: ledsmagazine

#221 Change Webcasts link from /webcasts to /webinars
  sites/waterworld.com/server/templates/index.marko
Labels: 🌐 site: waterworld

#218 Change button classes and add Group Practice on subscribe page
  sites/dentistryiq.com/server/templates/subscribe/index.marko
Labels: 🌐 site: dentistryiq

#224 Add more ad units for Mass, Officer, SIW
  sites/masstransitmag.com/config/gam.js
  sites/officer.com/config/gam.js
  sites/securityinfowatch.com/config/gam.js
Labels: 🌐 site: firehouse.com, 🌐 site: masstransitmag, 🌐 site: securityinfowatch

#225 Update footer advertise link for HCI
  sites/hcinnovationgroup.com/config/navigation.js
Labels: 🌐 site: hcinnovationgroup.com

#227 Remove magazine section from subscribe page
  sites/lightwaveonline.com/server/templates/subscribe/index.marko
Labels: 🌐 site: lightwaveonline.com

#228 Add network-automation and 5g-mobile ad aliases
  sites/lightwaveonline.com/config/gam.js
Labels: 🌐 site: lightwaveonline.com

#229 Fix spelling of “Healthy Convenience”
  sites/vendingmarketwatch.com/config/navigation.js
Labels: 🌐 site: vendingmarketwatch.com

#231 Update GCSE account key configuration
  sites/officer.com/config/gcse.js
  sites/vendingmarketwatch.com/config/gcse.js
Labels: 🌐 site: officer.com, 🌐 site: vendingmarketwatch.com

#232 Make “Magazines” plural
  sites/aviationpros.com/config/navigation.js
Labels: 🌐 site: aviationpros.com

#236 Update newsletter subscribe link
  sites/watertechonline.com/server/templates/subscribe/index.marko
Labels: 🌐 site: watertechonline.com

#237 Set correct Advertise link in navs
  sites/aviationpros.com/config/navigation.js
  sites/firehouse.com/config/navigation.js
  sites/masstransitmag.com/config/navigation.js
  sites/plasticsmachinerymagazine.com/config/navigation.js
  sites/vehicleservicepros.com/config/navigation.js
Labels: 🌐 site: aviationpros.com, 🌐 site: firehouse.com, 🌐 site: masstransitmag.com, 🌐 site: plasticsmachinerymagazine.com, 🌐 site: vehicleservicepros.com

#238 Upgrade @base-cms deps to latest versions
  packages/common/package.json
  packages/inquiry/package.json
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/plasticsmachinerymagazine.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL, 📦 package: common

#241 CS3952-HCI: updated subscribe form
  sites/hcinnovationgroup.com/server/templates/subscribe/index.marko
Labels: 🌐 site: hcinnovationgroup.com

#240 Update Officer.com sendFrom value
  sites/officer.com/config/site.js
Labels: 🌐 site: officer.com

#244 Display Promotion logos on Valor Awards landing page
  sites/firehouse.com/server/templates/website-section/valor-awards.marko
Labels: 🌐 site: firehouse.com

#245 Add leaders package
  package.json
  packages/common/package.json
  packages/inquiry/package.json
  packages/leaders/README.md
  packages/leaders/browser/.eslintrc.js
  packages/leaders/browser/gtm-track-leaders.vue
  packages/leaders/browser/index.js
  packages/leaders/components/all.marko
  packages/leaders/components/contextual.marko
  packages/leaders/components/dropdown-portal.marko
  packages/leaders/components/gtm-tracker.marko
  packages/leaders/components/home-page.marko
  packages/leaders/graphql/fragments/leaders-section.js
  packages/leaders/marko.json
  packages/leaders/package.json
  packages/leaders/scss/index-page.scss
  packages/leaders/scss/index.scss
  packages/leaders/templates/leaders.marko
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/plasticsmachinerymagazine.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: 📦 package: leaders

#247 Update newsletter subscribe link
  sites/aviationpros.com/server/templates/subscribe/index.marko
Labels: 🌐 site: aviationpros.com

#242 Add "Top 100" content landing page
  sites/hcinnovationgroup.com/server/graphql/fragments/content-page.js
  sites/hcinnovationgroup.com/server/graphql/fragments/top100-landing-page.js
  sites/hcinnovationgroup.com/server/routes/website-section.js
  sites/hcinnovationgroup.com/server/styles/index.scss
  sites/hcinnovationgroup.com/server/templates/content/index.marko
  sites/hcinnovationgroup.com/server/templates/website-section/top-100.marko
  sites/hcinnovationgroup.com/server/utils/format-us-currency.js
Labels: 🌐 site: hcinnovationgroup.com

#249 Update secondary nav color for Officer
  sites/officer.com/server/styles/index.scss
Labels: 🌐 site: officer.com

#250 Public safety categories title
  sites/firehouse.com/server/templates/index.marko
  sites/locksmithledger.com/server/templates/index.marko
  sites/masstransitmag.com/server/templates/index.marko
  sites/securityinfowatch.com/server/templates/index.marko
Labels: 🌐 site: firehouse.com, 🌐 site: locksmithledger.com, 🌐 site: masstransitmag.com, 🌐 site: securityinfowatch.com

#254 Update eNL subscribe URLs
  sites/cpapracticeadvisor.com/server/templates/subscribe/index.marko
  sites/firehouse.com/server/templates/subscribe/index.marko
  sites/hcinnovationgroup.com/server/templates/subscribe/index.marko
  sites/hpnonline.com/server/templates/subscribe/index.marko
  sites/locksmithledger.com/server/templates/subscribe/index.marko
  sites/masstransitmag.com/server/templates/subscribe/index.marko
  sites/mlo-online.com/server/templates/subscribe/index.marko
  sites/officer.com/server/templates/subscribe/index.marko
  sites/plasticsmachinerymagazine.com/server/templates/subscribe/index.marko
  sites/securityinfowatch.com/server/templates/subscribe/index.marko
  sites/vehicleservicepros.com/server/templates/subscribe/index.marko
  sites/vendingmarketwatch.com/server/templates/subscribe/index.marko
Labels: 🌐 site: cpapracticeadvisor.com, 🌐 site: firehouse.com, 🌐 site: hcinnovationgroup.com, 🌐 site: hpnonline.com, 🌐 site: locksmithledger.com, 🌐 site: masstransitmag.com, 🌐 site: mlo-online.com, 🌐 site: officer.com, 🌐 site: plasticsmachinerymagazine.com, 🌐 site: securityinfowatch.com, 🌐 site: vehicleservicepros.com, 🌐 site: vendingmarketwatch.com

#255 Update @base-cms dependencies
  packages/common/package.json
  packages/inquiry/package.json
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/plasticsmachinerymagazine.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: dependencies

#257 Reduce content heading bottom margin
  packages/common/scss/content-heading.scss
  sites/aviationpros.com/server/styles/index.scss
  sites/cpapracticeadvisor.com/server/styles/index.scss
  sites/firehouse.com/server/styles/index.scss
  sites/hcinnovationgroup.com/server/styles/index.scss
  sites/hpnonline.com/server/styles/index.scss
  sites/locksmithledger.com/server/styles/index.scss
  sites/masstransitmag.com/server/styles/index.scss
  sites/mlo-online.com/server/styles/index.scss
  sites/officer.com/server/styles/index.scss
  sites/plasticsmachinerymagazine.com/server/styles/index.scss
  sites/securityinfowatch.com/server/styles/index.scss
  sites/vehicleservicepros.com/server/styles/index.scss
  sites/vendingmarketwatch.com/server/styles/index.scss
Labels: 🌐 site: aviationpros.com, 🌐 site: cpapracticeadvisor.com, 🌐 site: firehouse.com, 🌐 site: hcinnovationgroup.com, 🌐 site: hpnonline.com, 🌐 site: locksmithledger.com, 🌐 site: masstransitmag.com, 🌐 site: mlo-online.com, 🌐 site: officer.com, 🌐 site: plasticsmachinerymagazine.com, 🌐 site: securityinfowatch.com, 🌐 site: vehicleservicepros.com, 🌐 site: vendingmarketwatch.com

#258 Homepage block to query summit content contents directly
  sites/hcinnovationgroup.com/server/templates/index.marko
Labels: 🌐 site: hcinnovationgroup.com

#260 Remove about us and update Whitepaper url
  sites/officer.com/config/navigation.js
Labels: 🌐 site: officer.com

#259 Add Magazine to website menu
  sites/cpapracticeadvisor.com/config/navigation.js
Labels: 🌐 site: cpapracticeadvisor.com

#261 Update contact us and inquiry contact email
  sites/aviationpros.com/config/site.js
Labels: 🌐 site: aviationpros.com

#262 Update AVP subscription URLs
  sites/aviationpros.com/server/templates/subscribe/index.marko
Labels: 🌐 site: aviationpros.com

#264 Create careers and submit job pages
  sites/officer.com/server/components/blocks/marko.json
  sites/officer.com/server/components/blocks/submit-job.marko
  sites/officer.com/server/components/flows/content-list.marko
  sites/officer.com/server/components/flows/marko.json
  sites/officer.com/server/routes/website-section.js
  sites/officer.com/server/styles/index.scss
  sites/officer.com/server/templates/website-section/careers/index.marko
  sites/officer.com/server/templates/website-section/careers/submit.marko
Labels: 🌐 site: officer.com

#267 Add Innovation Awards to secondary nav and menu
  sites/flowcontrolnetwork.com/config/navigation.js
Labels: 🌐 site: flowcontrolnetwork.com

#246 Implement leaders for SIW
  packages/leaders/components/home-page.marko
  sites/securityinfowatch.com/browser/index.js
  sites/securityinfowatch.com/config/leaders.js
  sites/securityinfowatch.com/config/site.js
  sites/securityinfowatch.com/package.json
  sites/securityinfowatch.com/server/components/blocks/related-content.marko
  sites/securityinfowatch.com/server/components/document.marko
  sites/securityinfowatch.com/server/routes/website-section.js
  sites/securityinfowatch.com/server/styles/index.scss
  sites/securityinfowatch.com/server/templates/content/index.marko
  sites/securityinfowatch.com/server/templates/index.marko
  sites/securityinfowatch.com/server/templates/website-section/leaders.marko
Labels: 🌐 site: securityinfowatch.com

#269 Add Leaders to Locksmith Ledger
  sites/locksmithledger.com/browser/index.js
  sites/locksmithledger.com/config/leaders.js
  sites/locksmithledger.com/config/site.js
  sites/locksmithledger.com/package.json
  sites/locksmithledger.com/server/components/blocks/related-content.marko
  sites/locksmithledger.com/server/components/document.marko
  sites/locksmithledger.com/server/routes/website-section.js
  sites/locksmithledger.com/server/styles/index.scss
  sites/locksmithledger.com/server/templates/content/index.marko
  sites/locksmithledger.com/server/templates/index.marko
  sites/locksmithledger.com/server/templates/website-section/leaders.marko
Labels: 🌐 site: locksmithledger.com

#265 Create custom Transit Bids - RFP page
  sites/masstransitmag.com/config/site.js
  sites/masstransitmag.com/server/components/flows/content-list.marko
  sites/masstransitmag.com/server/components/flows/marko.json
  sites/masstransitmag.com/server/routes/website-section.js
  sites/masstransitmag.com/server/styles/index.scss
  sites/masstransitmag.com/server/templates/website-section/transit-bids-rfp/index.marko
  sites/masstransitmag.com/server/templates/website-section/transit-bids-rfp/submit.marko
Labels: 🌐 site: masstransitmag.com

#268 Add videos block to homepage
  sites/firehouse.com/server/templates/index.marko
  sites/officer.com/server/templates/index.marko
Labels: 🌐 site: firehouse.com, 🌐 site: officer.com

#271 Move HPN Source Guide nav position and adjust header breakpoints
  sites/hpnonline.com/config/navigation.js
  sites/hpnonline.com/server/styles/index.scss
Labels: 🌐 site: hpnonline.com

#272 Add magazines and Vanguard Awards to site menu
  sites/securityinfowatch.com/config/navigation.js
  sites/securityinfowatch.com/server/templates/index.marko
Labels: 🌐 site: securityinfowatch.com
