Repository cygnusb2b/endeavor-business-media, pull requests merged in 2020-05, with the labels that each got.

#439 Add /webinars to secondary nav
  sites/plasticsmachinerymagazine.com/config/navigation.js
Labels: 🌐 site: plasticsmachinerymagazine.com

#442 Upgrade @base-cms dependencies to 1.27.4
  packages/common/package.json
  packages/contact-us/package.json
  packages/directory/package.json
  packages/inquiry/package.json
  packages/leaders/package.json
  packages/photoswipe/package.json
  packages/shared/package.json
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/plasticsmachinerymagazine.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/taxpracticeadvisor.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#441 Fix webinars block on home page & favicon
  sites/taxpracticeadvisor.com/server/public/android-chrome-192x192.png
  sites/taxpracticeadvisor.com/server/public/android-chrome-512x512.png
  sites/taxpracticeadvisor.com/server/public/apple-touch-icon.png
  sites/taxpracticeadvisor.com/server/public/favicon-16x16.png
  sites/taxpracticeadvisor.com/server/public/favicon-32x32.png
  sites/taxpracticeadvisor.com/server/public/favicon.ico
  sites/taxpracticeadvisor.com/server/templates/index.marko
Labels: 🌐 site: taxpracticeadvisor.com

#440 Fix Disaster Support spelling error
  sites/vehicleservicepros.com/server/templates/website-section/diagnostic-network-feed.marko
Labels: 🌐 site: vehicleservicepros.com

#443 Update advertise link
  sites/vendingmarketwatch.com/config/navigation.js
Labels: 🌐 site: vendingmarketwatch.com

#444 Set distinct manage and subscribe links
  sites/offshore-mag.com/server/templates/subscribe/index.marko
Labels: 🌐 site: offshore-mag.com

#445 Disable inquiry
  sites/officer.com/config/site.js
Labels: 🌐 site: officer.com

#446 Add dentistry ad config and Morning Briefing newsletter description
  sites/dentistryiq.com/config/gam.js
  sites/dentistryiq.com/server/templates/subscribe/index.marko
Labels: 🌐 site: dentistryiq.com

#447 Set patient-empowerment as a channel
  sites/hcinnovationgroup.com/config/gam.js
  sites/hcinnovationgroup.com/server/routes/website-section.js
Labels: 🌐 site: hcinnovationgroup.com

#448 Add `pk` param to Dragon Form query
  sites/offshore-mag.com/config/dragon-forms.js
  sites/vision-systems.com/config/dragon-forms.js
Labels: 🌐 site: offshore-mag.com, 🌐 site: vision-systems.com

#449 Upgrade @base-cms dependencies to 1.27.6
  packages/common/package.json
  packages/directory/package.json
  packages/leaders/package.json
  packages/shared/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hpnonline.com/package.json
  sites/masstransitmag.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/taxpracticeadvisor.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#450 Upgrade @base-cms dependencies to 1.28.0
  packages/shared/package.json
  yarn.lock
Labels: dependencies

#451 Only prompt for user input when registration is required
  packages/shared/components/content-page/contents.marko
Labels: 🌐 site: ALL

#452 Change title for webinar templates
  sites/gxcontractor.com/server/routes/published-content.js
Labels: 🌐 site: gxcontractor.com

#453 Update subscribe/preference links on subscribe page
  sites/dentaleconomics.com/server/templates/subscribe/index.marko
Labels: 🌐 site: dentaleconomics.com

#454 Adjust load more layout to allow skyscraper ad
  sites/dentistryiq.com/server/templates/website-section/covid-19.marko
Labels: 🌐 site: dentistryiq.com

#455 Setup leaders for CIM
  sites/cablinginstall.com/config/leaders.js
  sites/cablinginstall.com/config/site.js
  sites/cablinginstall.com/server/styles/index.scss
  sites/cablinginstall.com/server/templates/index.marko
Labels: 🌐 site: cablinginstall.com

#456 Add channel ad units
  sites/taxpracticeadvisor.com/config/gam.js
Labels: 🌐 site: taxpracticeadvisor.com

#457 Add ‘Cannabis Security’ channel
  sites/securityinfowatch.com/config/navigation.js
  sites/securityinfowatch.com/server/routes/website-section.js
Labels: 🌐 site: securityinfowatch.com

#458 Set channel layout to ‘Hall of Fame’ section
  sites/hpnonline.com/server/routes/website-section.js
Labels: 🌐 site: hpnonline.com

#459 Enable IdentityX
  sites/utilityproducts.com/config/site.js
Labels: 🌐 site: utilityproducts.com

#461 Setup leaders
  sites/mswmanagement.com/config/leaders.js
  sites/mswmanagement.com/server/styles/index.scss
  sites/mswmanagement.com/server/templates/index.marko
Labels: 🌐 site: mswmanagement.com

#462 Update webcasts to webinars
  sites/watertechonline.com/config/navigation.js
  sites/watertechonline.com/server/routes/published-content.js
Labels: 🌐 site: watertechonline.com

#463 Rename Horticultural to HortiCann on main nav
  sites/ledsmagazine.com/config/navigation.js
Labels: 🌐 site: ledsmagazine.com

#464 Update Summit to Sponsored Content
  sites/hcinnovationgroup.com/server/templates/index.marko
Labels: 🌐 site: hcinnovationgroup.com

#465 Update contact email
  sites/watertechonline.com/config/site.js
Labels: 🌐 site: watertechonline.com

#466 Correct spelling of “Switches” in categories
  sites/securityinfowatch.com/server/categories.js
Labels: 🌐 site: securityinfowatch.com

#467 Add Laser Diode Drivers category
  sites/laserfocusworld.com/server/categories.js
Labels: 🌐 site: laserfocusworld.com

#460 Setup leaders
  sites/lightwaveonline.com/config/leaders.js
  sites/lightwaveonline.com/config/site.js
  sites/lightwaveonline.com/server/styles/index.scss
  sites/lightwaveonline.com/server/templates/index.marko
Labels: 🌐 site: lightwaveonline.com

#468 Enable IdentityX (with comments)
  sites/ledsmagazine.com/config/navigation.js
  sites/ledsmagazine.com/config/site.js
  sites/ledsmagazine.com/server/styles/index.scss
Labels: 🌐 site: ledsmagazine.com
