Repository cygnusb2b/endeavor-business-media, pull requests merged in 2020-11, with the labels that each got.

#589 Update PM’s subscribe page
  sites/processingmagazine.com/config/dragon-forms.js
  sites/processingmagazine.com/server/templates/subscribe/index.marko
Labels: 🌐 site: processingmagazine.com

#587 Replace /dentistry with /dentistry/products
  sites/dentistryiq.com/config/gam.js
Labels: 🌐 site: dentistryiq.com

#588 Navigation changes
  sites/broadbandtechreport.com/config/navigation.js
  sites/flowcontrolnetwork.com/config/navigation.js
  sites/lightwaveonline.com/config/navigation.js
Labels: 🌐 site: broadbandtechreport.com, 🌐 site: flowcontrolnetwork.com, 🌐 site: laserfocusworld.com

#591 Update BCC email from cygnus to endeavorb2b
  packages/common/contact-us/index.js
  packages/contact-us/index.js
  sites/aviationpros.com/config/site.js
  sites/bioopticsworld.com/config/site.js
  sites/broadbandtechreport.com/config/site.js
  sites/cablinginstall.com/config/site.js
  sites/cpapracticeadvisor.com/config/site.js
  sites/dentaleconomics.com/config/site.js
  sites/dentistryiq.com/config/site.js
  sites/distributedenergy.com/config/site.js
  sites/evaluationengineering.com/config/site.js
  sites/firehouse.com/config/site.js
  sites/foresternetwork.com/config/site.js
  sites/gxcontractor.com/config/site.js
  sites/hcinnovationgroup.com/config/site.js
  sites/industrial-lasers.com/config/site.js
  sites/intelligent-aerospace.com/config/site.js
  sites/laserfocusworld.com/config/site.js
  sites/ledsmagazine.com/config/site.js
  sites/lightwaveonline.com/config/site.js
  sites/locksmithledger.com/config/site.js
  sites/masstransitmag.com/config/site.js
  sites/militaryaerospace.com/config/site.js
  sites/mswmanagement.com/config/site.js
  sites/officer.com/config/site.js
  sites/offshore-mag.com/config/site.js
  sites/perioimplantadvisory.com/config/site.js
  sites/plasticsmachinerymagazine.com/config/site.js
  sites/processingmagazine.com/config/site.js
  sites/rdhmag.com/config/site.js
  sites/securityinfowatch.com/config/site.js
  sites/stormh2o.com/config/site.js
  sites/strategies-u.com/config/site.js
  sites/taxpracticeadvisor.com/config/site.js
  sites/utilityproducts.com/config/site.js
  sites/vehicleservicepros.com/config/site.js
  sites/vendingmarketwatch.com/config/site.js
  sites/vision-systems.com/config/site.js
  sites/watertechonline.com/config/site.js
  sites/waterworld.com/config/site.js
Labels: 🌐 site: ALL

#592 Add `/directory` to WTO’s gam.js
  sites/watertechonline.com/config/gam.js
Labels: 🌐 site: watertechonline.com

#594 Update Base Dependencies
  packages/common/package.json
  packages/directory/package.json
  packages/gam-prestitial/package.json
  packages/shared/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hpnonline.com/package.json
  sites/masstransitmag.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/taxpracticeadvisor.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#596 Update algolia searchApiKey
  sites/aviationpros.com/config/site.js
  sites/bioopticsworld.com/config/site.js
  sites/broadbandtechreport.com/config/site.js
  sites/cablinginstall.com/config/site.js
  sites/cpapracticeadvisor.com/config/site.js
  sites/dentaleconomics.com/config/site.js
  sites/dentistryiq.com/config/site.js
  sites/distributedenergy.com/config/site.js
  sites/evaluationengineering.com/config/site.js
  sites/firehouse.com/config/site.js
  sites/flowcontrolnetwork.com/config/site.js
  sites/foresternetwork.com/config/site.js
  sites/gxcontractor.com/config/site.js
  sites/hcinnovationgroup.com/config/site.js
  sites/hpnonline.com/config/site.js
  sites/industrial-lasers.com/config/site.js
  sites/intelligent-aerospace.com/config/site.js
  sites/laserfocusworld.com/config/site.js
  sites/ledsmagazine.com/config/site.js
  sites/lightwaveonline.com/config/site.js
  sites/locksmithledger.com/config/site.js
  sites/masstransitmag.com/config/site.js
  sites/militaryaerospace.com/config/site.js
  sites/mlo-online.com/config/site.js
  sites/mswmanagement.com/config/site.js
  sites/officer.com/config/site.js
  sites/offshore-mag.com/config/site.js
  sites/perioimplantadvisory.com/config/site.js
  sites/plasticsmachinerymagazine.com/config/site.js
  sites/processingmagazine.com/config/site.js
  sites/rdhmag.com/config/site.js
  sites/securityinfowatch.com/config/site.js
  sites/stormh2o.com/config/site.js
  sites/strategies-u.com/config/site.js
  sites/taxpracticeadvisor.com/config/site.js
  sites/utilityproducts.com/config/site.js
  sites/vehicleservicepros.com/config/site.js
  sites/vendingmarketwatch.com/config/site.js
  sites/vision-systems.com/config/site.js
  sites/watertechonline.com/config/site.js
  sites/waterworld.com/config/site.js
Labels: 🌐 site: ALL

#597 GAM alias for FH’s /video page
  sites/firehouse.com/config/gam.js
Labels: 🌐 site: firehouse.com

#600 Update awards link
  sites/ledsmagazine.com/config/navigation.js
Labels: 🌐 site: ledsmagazine.com

#602 Dev minor navigation, link & subscription page cleanup
  sites/firehouse.com/server/templates/index.marko
  sites/industrial-lasers.com/package.json
  sites/industrial-lasers.com/server/routes/magazine.js
  sites/industrial-lasers.com/server/templates/magazine/index.marko
  sites/industrial-lasers.com/server/templates/subscribe/index.marko
  sites/intelligent-aerospace.com/config/navigation.js
  sites/militaryaerospace.com/config/navigation.js
  sites/vision-systems.com/config/gam.js
  sites/vision-systems.com/config/navigation.js
  sites/vision-systems.com/server/templates/index.marko
Labels: 🌐 site: firehouse.com, 🌐 site: industrial-lasers.com, 🌐 site: intelligent-aerospace.com, 🌐 site: militaryaerospace.com, 🌐 site: vision-systems.com

#604 Fix nav item label
  sites/intelligent-aerospace.com/config/navigation.js
Labels: 🌐 site: intelligent-aerospace.com

#601 Add Prestitial src
  sites/intelligent-aerospace.com/config/site.js
  sites/mlo-online.com/config/site.js
Labels: 🌐 site: intelligent-aerospace.com, 🌐 site: mlo-online.com
