Repository cygnusb2b/endeavor-business-media, pull requests merged in 2020-07, with the labels that each got.

#493 Set leaders callout value to Featured Vendors
  sites/securityinfowatch.com/config/leaders.js
Labels: 🌐 site: securityinfowatch.com

#494 Add Dental Jobs nav items and ads
  sites/dentistryiq.com/config/gam.js
  sites/dentistryiq.com/config/navigation.js
Labels: 🌐 site: dentistryiq.com

#496 Add page description to `/job-postings`
  sites/dentaleconomics.com/server/templates/website-section/job-postings.marko
  sites/rdhmag.com/server/templates/website-section/job-postings.marko
Labels: 🌐 site: dentaleconomics.com, 🌐 site: rdhmag.com

#495 Updated several sites to reference dragon-forms.js settings instead of url
  sites/aviationpros.com/config/dragon-forms.js
  sites/aviationpros.com/server/templates/subscribe/index.marko
  sites/cpapracticeadvisor.com/config/dragon-forms.js
  sites/cpapracticeadvisor.com/server/templates/subscribe/index.marko
  sites/dentaleconomics.com/config/dragon-forms.js
  sites/dentaleconomics.com/server/templates/subscribe/index.marko
  sites/dentistryiq.com/config/dragon-forms.js
  sites/dentistryiq.com/server/templates/subscribe/index.marko
  sites/firehouse.com/config/dragon-forms.js
  sites/firehouse.com/server/templates/subscribe/index.marko
  sites/foresternetwork.com/config/dragon-forms.js
  sites/foresternetwork.com/server/templates/subscribe/index.marko
  sites/hcinnovationgroup.com/config/dragon-forms.js
  sites/hcinnovationgroup.com/server/templates/subscribe/index.marko
  sites/locksmithledger.com/config/dragon-forms.js
  sites/locksmithledger.com/server/templates/subscribe/index.marko
  sites/mswmanagement.com/config/dragon-forms.js
  sites/mswmanagement.com/server/templates/subscribe/index.marko
  sites/offshore-mag.com/config/dragon-forms.js
  sites/offshore-mag.com/server/templates/subscribe/index.marko
  sites/taxpracticeadvisor.com/config/dragon-forms.js
  sites/taxpracticeadvisor.com/server/templates/subscribe/index.marko
Labels: 🌐 site: aviationpros.com, 🌐 site: cpapracticeadvisor.com, 🌐 site: dentaleconomics.com, 🌐 site: dentistryiq.com, 🌐 site: firehouse.com, 🌐 site: foresternetwork.com, 🌐 site: hcinnovationgroup.com, 🌐 site: locksmithledger.com, 🌐 site: mswmanagement.com, 🌐 site: offshore-mag.com, 🌐 site: taxpracticeadvisor.com

#497 Lazy load ads
  sites/watertechonline.com/config/gam.js
Labels: 🌐 site: watertechonline.com

#499 Add "Media Center" to resources site menu
  sites/cpapracticeadvisor.com/config/navigation.js
Labels: 🌐 site: cpapracticeadvisor.com

#500 Add social icons to site footer
  sites/gxcontractor.com/config/site.js
Labels: 🌐 site: gxcontractor.com

#498 Setup custom blogs website section
  sites/evaluationengineering.com/package.json
  sites/evaluationengineering.com/server/routes/website-section.js
  sites/evaluationengineering.com/server/templates/website-section/blogs.marko
Labels: 🌐 site: evaluationengineering.com

#501 DIQ template changes for index, subscribe, and nav
  sites/dentistryiq.com/config/navigation.js
  sites/dentistryiq.com/server/routes/website-section.js
  sites/dentistryiq.com/server/templates/index.marko
  sites/dentistryiq.com/server/templates/subscribe/index.marko
Labels: 🌐 site: dentistryiq.com

#502 Update innovators url for secondary and ham navs
  sites/hcinnovationgroup.com/config/navigation.js
Labels: 🌐 site: hcinnovationgroup.com

#503 Setup leaders
  sites/flowcontrolnetwork.com/config/leaders.js
  sites/flowcontrolnetwork.com/server/styles/index.scss
  sites/flowcontrolnetwork.com/server/templates/index.marko
Labels: 🌐 site: flowcontrolnetwork.com

#504 Setup leaders
  sites/processingmagazine.com/config/leaders.js
  sites/processingmagazine.com/config/site.js
  sites/processingmagazine.com/server/styles/index.scss
  sites/processingmagazine.com/server/templates/index.marko
Labels: 🌐 site: processingmagazine.com

#506 Upgrade @base-cms dependencies to 1.30.2
  packages/common/package.json
  packages/contact-us/package.json
  packages/directory/package.json
  packages/inquiry/package.json
  packages/leaders/package.json
  packages/photoswipe/package.json
  packages/shared/package.json
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/plasticsmachinerymagazine.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/taxpracticeadvisor.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#505 Update SIW linkedIn url
  sites/securityinfowatch.com/config/site.js
Labels: 🌐 site: securityinfowatch.com

#508 update base-cms/marko-web-inquiry dependency
  docker-compose.yml
  packages/shared/package.json
  sites/officer.com/config/site.js
  yarn.lock
Labels: 🌐 site: ALL

#516 Update directory component display for VSD
  sites/vision-systems.com/server/directory-categories.js
Labels: 🌐 site: vision-systems.com

#515 Update social links for VSP
  sites/vehicleservicepros.com/config/site.js
Labels: 🌐 site: vehicleservicepros.com

#514 Add social links for MSW
  sites/mswmanagement.com/config/site.js
Labels: 🌐 site: mswmanagement.com

#513 Removed ‘Firehouse World’ link from FH ham nav
  sites/firehouse.com/config/navigation.js
Labels: 🌐 site: firehouse.com

#512 Update SIL links in LEDs nav
  sites/ledsmagazine.com/config/navigation.js
Labels: 🌐 site: ledsmagazine.com

#511 Update linkedin url for WTO
  sites/watertechonline.com/config/site.js
Labels: 🌐 site: watertechonline.com

#510 New ad alias and nav updates for OS
  sites/offshore-mag.com/config/gam.js
  sites/offshore-mag.com/config/navigation.js
Labels: 🌐 site: offshore-mag.com

#507 Allow /magazine template to use additional links
  packages/shared/graphql/fragments/magazine-issue-page.js
Labels: 🌐 site: ALL
