Repository cygnusb2b/endeavor-business-media, pull requests merged in 2020-02, with the labels that each got.

#273 Disable image placeholders for magazine archives
  sites/aviationpros.com/server/components/nodes/magazine-issue-archive.marko
  sites/bioopticsworld.com/server/components/nodes/magazine-issue-archive.marko
  sites/broadbandtechreport.com/server/components/nodes/magazine-issue-archive.marko
  sites/cablinginstall.com/server/components/nodes/magazine-issue-archive.marko
  sites/cpapracticeadvisor.com/server/components/nodes/magazine-issue-archive.marko
  sites/dentaleconomics.com/server/components/nodes/magazine-issue-archive.marko
  sites/dentistryiq.com/server/components/nodes/magazine-issue-archive.marko
  sites/distributedenergy.com/server/components/nodes/magazine-issue-archive.marko
  sites/evaluationengineering.com/server/components/nodes/magazine-issue-archive.marko
  sites/firehouse.com/server/components/nodes/magazine-issue-archive.marko
  sites/flowcontrolnetwork.com/server/components/nodes/magazine-issue-archive.marko
  sites/foresternetwork.com/server/components/nodes/magazine-issue-archive.marko
  sites/gxcontractor.com/server/components/nodes/magazine-issue-archive.marko
  sites/hcinnovationgroup.com/server/components/nodes/magazine-issue-archive.marko
  sites/hpnonline.com/server/components/nodes/magazine-issue-archive.marko
  sites/industrial-lasers.com/server/components/nodes/magazine-issue-archive.marko
  sites/intelligent-aerospace.com/server/components/nodes/magazine-issue-archive.marko
  sites/laserfocusworld.com/server/components/nodes/magazine-issue-archive.marko
  sites/ledsmagazine.com/server/components/nodes/magazine-issue-archive.marko
  sites/lightwaveonline.com/server/components/nodes/magazine-issue-archive.marko
  sites/locksmithledger.com/server/components/nodes/magazine-issue-archive.marko
  sites/masstransitmag.com/server/components/nodes/magazine-issue-archive.marko
  sites/militaryaerospace.com/server/components/nodes/magazine-issue-archive.marko
  sites/mlo-online.com/server/components/nodes/magazine-issue-archive.marko
  sites/mswmanagement.com/server/components/nodes/magazine-issue-archive.marko
  sites/officer.com/server/components/nodes/magazine-issue-archive.marko
  sites/offshore-mag.com/server/components/nodes/magazine-issue-archive.marko
  sites/perioimplantadvisory.com/server/components/nodes/magazine-issue-archive.marko
  sites/plasticsmachinerymagazine.com/server/components/nodes/magazine-issue-archive.marko
  sites/processingmagazine.com/server/components/nodes/magazine-issue-archive.marko
  sites/rdhmag.com/server/components/nodes/magazine-issue-archive.marko
  sites/securityinfowatch.com/server/components/nodes/magazine-issue-archive.marko
  sites/stormh2o.com/server/components/nodes/magazine-issue-archive.marko
  sites/strategies-u.com/server/components/nodes/magazine-issue-archive.marko
  sites/utilityproducts.com/server/components/nodes/magazine-issue-archive.marko
  sites/vehicleservicepros.com/server/components/nodes/magazine-issue-archive.marko
  sites/vendingmarketwatch.com/server/components/nodes/magazine-issue-archive.marko
  sites/vision-systems.com/server/components/nodes/magazine-issue-archive.marko
  sites/watertechonline.com/server/components/nodes/magazine-issue-archive.marko
  sites/waterworld.com/server/components/nodes/magazine-issue-archive.marko
Labels: 🌐 site: ALL

#274 Use Continuing Education parent layout on child pages
  sites/hpnonline.com/server/routes/website-section.js
Labels: 🌐 site: hpnonline.com

#275 Add 365 Retail Markets nav item
  sites/vendingmarketwatch.com/config/navigation.js
  sites/vendingmarketwatch.com/server/styles/index.scss
Labels: 🌐 site: vendingmarketwatch.com

#276 Set tertiary nav color (including search icon) to light
  sites/officer.com/server/styles/index.scss
Labels: 🌐 site: officer.com

#277 Update contact us email address
  sites/dentaleconomics.com/config/site.js
  sites/dentistryiq.com/config/site.js
  sites/perioimplantadvisory.com/config/site.js
  sites/rdhmag.com/config/site.js
Labels: 🌐 site: dentaleconomics.com, 🌐 site: dentistryiq.com, 🌐 site: perioimplantadvisory.com, 🌐 site: rdhmag.com

#279 Add "Breakthrough Products Awards" to nav
  sites/processingmagazine.com/config/navigation.js
Labels: 🌐 site: processingmagazine.com

#280 Update leaders logos
  sites/locksmithledger.com/config/leaders.js
  sites/securityinfowatch.com/config/leaders.js
  sites/waterworld.com/config/leaders.js
Labels: 🌐 site: locksmithledger.com, 🌐 site: securityinfowatch.com, 🌐 site: waterworld.com

#281 Upgrade @base-cms dependencies to 1.17.0
  packages/common/package.json
  packages/inquiry/package.json
  packages/photoswipe/package.json
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/plasticsmachinerymagazine.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#283 Update url path for Breakthrough Products Awards
  sites/processingmagazine.com/config/navigation.js
Labels: 🌐 site: processingmagazine.com

#285 Update advertise links
  sites/distributedenergy.com/config/navigation.js
  sites/gxcontractor.com/config/navigation.js
  sites/utilityproducts.com/config/navigation.js
Labels: 🌐 site: distributedenergy.com, 🌐 site: gxcontractor.com, 🌐 site: utilityproducts.com

#286 Change page alias lookup to support all characters
  sites/aviationpros.com/server/routes/dynamic-page.js
  sites/bioopticsworld.com/server/routes/dynamic-page.js
  sites/broadbandtechreport.com/server/routes/dynamic-page.js
  sites/cablinginstall.com/server/routes/dynamic-page.js
  sites/cpapracticeadvisor.com/server/routes/dynamic-page.js
  sites/dentaleconomics.com/server/routes/dynamic-page.js
  sites/dentistryiq.com/server/routes/dynamic-page.js
  sites/distributedenergy.com/server/routes/dynamic-page.js
  sites/evaluationengineering.com/server/routes/dynamic-page.js
  sites/firehouse.com/server/routes/dynamic-page.js
  sites/flowcontrolnetwork.com/server/routes/dynamic-page.js
  sites/foresternetwork.com/server/routes/dynamic-page.js
  sites/gxcontractor.com/server/routes/dynamic-page.js
  sites/hcinnovationgroup.com/server/routes/dynamic-page.js
  sites/hpnonline.com/server/routes/dynamic-page.js
  sites/industrial-lasers.com/server/routes/dynamic-page.js
  sites/intelligent-aerospace.com/server/routes/dynamic-page.js
  sites/laserfocusworld.com/server/routes/dynamic-page.js
  sites/ledsmagazine.com/server/routes/dynamic-page.js
  sites/lightwaveonline.com/server/routes/dynamic-page.js
  sites/locksmithledger.com/server/routes/dynamic-page.js
  sites/masstransitmag.com/server/routes/dynamic-page.js
  sites/militaryaerospace.com/server/routes/dynamic-page.js
  sites/mlo-online.com/server/routes/dynamic-page.js
  sites/mswmanagement.com/server/routes/dynamic-page.js
  sites/officer.com/server/routes/dynamic-page.js
  sites/offshore-mag.com/server/routes/dynamic-page.js
  sites/perioimplantadvisory.com/server/routes/dynamic-page.js
  sites/plasticsmachinerymagazine.com/server/routes/dynamic-page.js
  sites/processingmagazine.com/server/routes/dynamic-page.js
  sites/rdhmag.com/server/routes/dynamic-page.js
  sites/securityinfowatch.com/server/routes/dynamic-page.js
  sites/stormh2o.com/server/routes/dynamic-page.js
  sites/strategies-u.com/server/routes/dynamic-page.js
  sites/utilityproducts.com/server/routes/dynamic-page.js
  sites/vehicleservicepros.com/server/routes/dynamic-page.js
  sites/vendingmarketwatch.com/server/routes/dynamic-page.js
  sites/vision-systems.com/server/routes/dynamic-page.js
  sites/watertechonline.com/server/routes/dynamic-page.js
  sites/waterworld.com/server/routes/dynamic-page.js
Labels: 🌐 site: ALL

#288 Upgrade @base-cms dependencies to 1.20.1
  packages/common/package.json
  packages/inquiry/package.json
  packages/leaders/package.json
  packages/photoswipe/package.json
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/plasticsmachinerymagazine.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#289 Update secondary nav path for breakthrough url
  sites/processingmagazine.com/config/navigation.js
Labels: 🌐 site: processingmagazine.com

#287 Add leaders to stormh2o
  sites/stormh2o.com/config/leaders.js
  sites/stormh2o.com/config/site.js
  sites/stormh2o.com/server/components/blocks/related-content.marko
  sites/stormh2o.com/server/styles/index.scss
  sites/stormh2o.com/server/templates/content/index.marko
  sites/stormh2o.com/server/templates/index.marko
Labels: 🌐 site: stormh2o.com

#251 Custom video and blogs landing pages
  sites/vehicleservicepros.com/server/components/flows/content-card-deck.marko
  sites/vehicleservicepros.com/server/components/flows/marko.json
  sites/vehicleservicepros.com/server/components/nodes/content-card.marko
  sites/vehicleservicepros.com/server/components/nodes/marko.json
  sites/vehicleservicepros.com/server/routes/published-content.js
  sites/vehicleservicepros.com/server/routes/website-section.js
  sites/vehicleservicepros.com/server/styles/index.scss
  sites/vehicleservicepros.com/server/templates/index.marko
  sites/vehicleservicepros.com/server/templates/published-content/videos.marko
  sites/vehicleservicepros.com/server/templates/website-section/blogs.marko
  sites/vehicleservicepros.com/server/templates/website-section/videos.marko
Labels: 🌐 site: vehicleservicepros.com

#291 Correct spelling of “Healthy” section on homepage
  sites/vendingmarketwatch.com/server/templates/index.marko
Labels: 🌐 site: vendingmarketwatch.com

#290 Reorder homepage sections and update navigation
  sites/plasticsmachinerymagazine.com/config/navigation.js
  sites/plasticsmachinerymagazine.com/server/routes/website-section.js
  sites/plasticsmachinerymagazine.com/server/templates/index.marko
Labels: 🌐 site: plasticsmachinerymagazine.com

#293 Enable leaders for VMW, WTO
  sites/vendingmarketwatch.com/config/leaders.js
  sites/vendingmarketwatch.com/config/site.js
  sites/vendingmarketwatch.com/server/components/blocks/related-content.marko
  sites/vendingmarketwatch.com/server/templates/content/index.marko
  sites/vendingmarketwatch.com/server/templates/index.marko
  sites/watertechonline.com/config/leaders.js
  sites/watertechonline.com/config/site.js
  sites/watertechonline.com/server/components/blocks/related-content.marko
  sites/watertechonline.com/server/styles/index.scss
  sites/watertechonline.com/server/templates/content/index.marko
  sites/watertechonline.com/server/templates/index.marko
Labels: 🌐 site: vendingmarketwatch.com, 🌐 site: watertechonline.com

#292 Update blog and video section titles to be links
  sites/vehicleservicepros.com/server/templates/website-section/blogs.marko
  sites/vehicleservicepros.com/server/templates/website-section/videos.marko
Labels: 🌐 site: vehicleservicepros.com

#294 Update leaders primary color for LL, SIW
  sites/locksmithledger.com/server/styles/index.scss
  sites/securityinfowatch.com/server/styles/index.scss
Labels: 🌐 site: locksmithledger.com, 🌐 site: securityinfowatch.com

#295 Remove ‘Security Solutions Corner’ from hamburger nav
  sites/securityinfowatch.com/config/navigation.js
Labels: 🌐 site: securityinfowatch.com

#296 Change "In Print" to "Digital Edition" in secondary nav
  sites/plasticsmachinerymagazine.com/config/navigation.js
Labels: 🌐 site: plasticsmachinerymagazine.com

#299 Update inquiry email contact
  sites/firehouse.com/config/site.js
Labels: 🌐 site: firehouse.com

#303 Implement social sharing in common and aviation
  packages/common/package.json
  packages/common/scss/social-sharing.scss
  sites/aviationpros.com/browser/index.js
  sites/aviationpros.com/package.json
  sites/aviationpros.com/server/graphql/fragments/content-page.js
  sites/aviationpros.com/server/styles/index.scss
  sites/aviationpros.com/server/templates/content/index.marko
  yarn.lock
Labels: 🌐 site: ALL, 🌐 site: aviationpros.com

#307 Increase card teaser max lines to 5
  sites/aviationpros.com/server/styles/index.scss
  sites/bioopticsworld.com/server/styles/index.scss
  sites/broadbandtechreport.com/server/styles/index.scss
  sites/cablinginstall.com/server/styles/index.scss
  sites/cpapracticeadvisor.com/server/styles/index.scss
  sites/dentaleconomics.com/server/styles/index.scss
  sites/dentistryiq.com/server/styles/index.scss
  sites/distributedenergy.com/server/styles/index.scss
  sites/evaluationengineering.com/server/styles/index.scss
  sites/firehouse.com/server/styles/index.scss
  sites/flowcontrolnetwork.com/server/styles/index.scss
  sites/foresternetwork.com/server/styles/index.scss
  sites/gxcontractor.com/server/styles/index.scss
  sites/hcinnovationgroup.com/server/styles/index.scss
  sites/hpnonline.com/server/styles/index.scss
  sites/industrial-lasers.com/server/styles/index.scss
  sites/intelligent-aerospace.com/server/styles/index.scss
  sites/laserfocusworld.com/server/styles/index.scss
  sites/ledsmagazine.com/server/styles/index.scss
  sites/lightwaveonline.com/server/styles/index.scss
  sites/locksmithledger.com/server/styles/index.scss
  sites/masstransitmag.com/server/styles/index.scss
  sites/militaryaerospace.com/server/styles/index.scss
  sites/mlo-online.com/server/styles/index.scss
  sites/mswmanagement.com/server/styles/index.scss
  sites/officer.com/server/styles/index.scss
  sites/offshore-mag.com/server/styles/index.scss
  sites/perioimplantadvisory.com/server/styles/index.scss
  sites/plasticsmachinerymagazine.com/server/styles/index.scss
  sites/processingmagazine.com/server/styles/index.scss
  sites/rdhmag.com/server/styles/index.scss
  sites/securityinfowatch.com/server/styles/index.scss
  sites/stormh2o.com/server/styles/index.scss
  sites/strategies-u.com/server/styles/index.scss
  sites/utilityproducts.com/server/styles/index.scss
  sites/vehicleservicepros.com/server/styles/index.scss
  sites/vendingmarketwatch.com/server/styles/index.scss
  sites/vision-systems.com/server/styles/index.scss
  sites/watertechonline.com/server/styles/index.scss
  sites/waterworld.com/server/styles/index.scss
Labels: 🌐 site: ALL

#304 Setup social sharing
  sites/bioopticsworld.com/browser/index.js
  sites/bioopticsworld.com/package.json
  sites/bioopticsworld.com/server/graphql/fragments/content-page.js
  sites/bioopticsworld.com/server/styles/index.scss
  sites/bioopticsworld.com/server/templates/content/index.marko
Labels: 🌐 site: bioopticsworld.com

#305 Setup social sharing
  sites/broadbandtechreport.com/browser/index.js
  sites/broadbandtechreport.com/package.json
  sites/broadbandtechreport.com/server/graphql/fragments/content-page.js
  sites/broadbandtechreport.com/server/styles/index.scss
  sites/broadbandtechreport.com/server/templates/content/index.marko
Labels: 🌐 site: broadbandtechreport.com

#306 Setup social sharing
  sites/cablinginstall.com/browser/index.js
  sites/cablinginstall.com/package.json
  sites/cablinginstall.com/server/graphql/fragments/content-page.js
  sites/cablinginstall.com/server/styles/index.scss
  sites/cablinginstall.com/server/templates/content/index.marko
Labels: 🌐 site: cablinginstall.com

#323 Setup social sharing on LEDs
  sites/ledsmagazine.com/browser/index.js
  sites/ledsmagazine.com/package.json
  sites/ledsmagazine.com/server/graphql/fragments/content-page.js
  sites/ledsmagazine.com/server/styles/index.scss
  sites/ledsmagazine.com/server/templates/content/index.marko
Labels: 🌐 site: ledsmagazine.com

#322 Setup social sharing on LFW
  sites/laserfocusworld.com/browser/index.js
  sites/laserfocusworld.com/package.json
  sites/laserfocusworld.com/server/graphql/fragments/content-page.js
  sites/laserfocusworld.com/server/styles/index.scss
  sites/laserfocusworld.com/server/templates/content/index.marko
Labels: 🌐 site: laserfocusworld.com

#321 Setup social sharing on IAS
  sites/intelligent-aerospace.com/browser/index.js
  sites/intelligent-aerospace.com/package.json
  sites/intelligent-aerospace.com/server/graphql/fragments/content-page.js
  sites/intelligent-aerospace.com/server/styles/index.scss
  sites/intelligent-aerospace.com/server/templates/content/index.marko
Labels: 🌐 site: intelligent-aerospace.com

#320 Setup social sharing on ILS
  sites/industrial-lasers.com/browser/index.js
  sites/industrial-lasers.com/package.json
  sites/industrial-lasers.com/server/graphql/fragments/content-page.js
  sites/industrial-lasers.com/server/styles/index.scss
  sites/industrial-lasers.com/server/templates/content/index.marko
Labels: 🌐 site: industrial-lasers.com

#319 Setup social sharing on HPN
  sites/hpnonline.com/browser/index.js
  sites/hpnonline.com/package.json
  sites/hpnonline.com/server/graphql/fragments/content-page.js
  sites/hpnonline.com/server/styles/index.scss
  sites/hpnonline.com/server/templates/content/index.marko
Labels: 🌐 site: hpnonline.com

#318 Setup social sharing for HCI
  sites/hcinnovationgroup.com/browser/index.js
  sites/hcinnovationgroup.com/package.json
  sites/hcinnovationgroup.com/server/graphql/fragments/content-page.js
  sites/hcinnovationgroup.com/server/styles/index.scss
  sites/hcinnovationgroup.com/server/templates/content/index.marko
Labels: 🌐 site: hcinnovationgroup.com

#317 Setup social sharing for GXC
  sites/gxcontractor.com/browser/index.js
  sites/gxcontractor.com/package.json
  sites/gxcontractor.com/server/graphql/fragments/content-page.js
  sites/gxcontractor.com/server/styles/index.scss
  sites/gxcontractor.com/server/templates/content/index.marko
Labels: 🌐 site: gxcontractor.com

#316 Setup social sharing on FN
  sites/foresternetwork.com/browser/index.js
  sites/foresternetwork.com/package.json
  sites/foresternetwork.com/server/graphql/fragments/content-page.js
  sites/foresternetwork.com/server/styles/index.scss
  sites/foresternetwork.com/server/templates/content/index.marko
Labels: 🌐 site: foresternetwork.com

#315 Setup social sharing on FCN
  sites/flowcontrolnetwork.com/browser/index.js
  sites/flowcontrolnetwork.com/package.json
  sites/flowcontrolnetwork.com/server/graphql/fragments/content-page.js
  sites/flowcontrolnetwork.com/server/styles/index.scss
  sites/flowcontrolnetwork.com/server/templates/content/index.marko
Labels: 🌐 site: flowcontrolnetwork.com

#314 Setup social sharing on FH
  sites/firehouse.com/browser/index.js
  sites/firehouse.com/package.json
  sites/firehouse.com/server/graphql/fragments/content-page.js
  sites/firehouse.com/server/styles/index.scss
  sites/firehouse.com/server/templates/content/index.marko
Labels: 🌐 site: firehouse.com

#313 Setup social sharing on EE
  sites/evaluationengineering.com/browser/index.js
  sites/evaluationengineering.com/package.json
  sites/evaluationengineering.com/server/graphql/fragments/content-page.js
  sites/evaluationengineering.com/server/styles/index.scss
  sites/evaluationengineering.com/server/templates/content/index.marko
Labels: 🌐 site: evaluationengineering.com

#312 Setup social sharing on Distributed Energy
  sites/distributedenergy.com/browser/index.js
  sites/distributedenergy.com/package.json
  sites/distributedenergy.com/server/graphql/fragments/content-page.js
  sites/distributedenergy.com/server/styles/index.scss
  sites/distributedenergy.com/server/templates/content/index.marko
Labels: 🌐 site: distributedenergy.com

#311 Setup social sharing for DIQ
  sites/dentistryiq.com/browser/index.js
  sites/dentistryiq.com/package.json
  sites/dentistryiq.com/server/graphql/fragments/content-page.js
  sites/dentistryiq.com/server/styles/index.scss
  sites/dentistryiq.com/server/templates/content/index.marko
Labels: 🌐 site: dentistryiq.com

#310 Setup social sharing for DE
  sites/dentaleconomics.com/browser/index.js
  sites/dentaleconomics.com/package.json
  sites/dentaleconomics.com/server/graphql/fragments/content-page.js
  sites/dentaleconomics.com/server/styles/index.scss
  sites/dentaleconomics.com/server/templates/content/index.marko
Labels: 🌐 site: dentaleconomics.com

#309 Setup social sharing for CPA
  sites/cpapracticeadvisor.com/browser/index.js
  sites/cpapracticeadvisor.com/package.json
  sites/cpapracticeadvisor.com/server/graphql/fragments/content-page.js
  sites/cpapracticeadvisor.com/server/styles/index.scss
  sites/cpapracticeadvisor.com/server/templates/content/index.marko
Labels: 🌐 site: cpapracticeadvisor.com

#324 Setup social for LW, LL, MTM, MAE, MLO, and MSW
  sites/lightwaveonline.com/browser/index.js
  sites/lightwaveonline.com/package.json
  sites/lightwaveonline.com/server/graphql/fragments/content-page.js
  sites/lightwaveonline.com/server/styles/index.scss
  sites/lightwaveonline.com/server/templates/content/index.marko
  sites/locksmithledger.com/browser/index.js
  sites/locksmithledger.com/package.json
  sites/locksmithledger.com/server/graphql/fragments/content-page.js
  sites/locksmithledger.com/server/styles/index.scss
  sites/locksmithledger.com/server/templates/content/index.marko
  sites/masstransitmag.com/browser/index.js
  sites/masstransitmag.com/package.json
  sites/masstransitmag.com/server/graphql/fragments/content-page.js
  sites/masstransitmag.com/server/styles/index.scss
  sites/masstransitmag.com/server/templates/content/index.marko
  sites/militaryaerospace.com/browser/index.js
  sites/militaryaerospace.com/package.json
  sites/militaryaerospace.com/server/graphql/fragments/content-page.js
  sites/militaryaerospace.com/server/styles/index.scss
  sites/militaryaerospace.com/server/templates/content/index.marko
  sites/mlo-online.com/browser/index.js
  sites/mlo-online.com/package.json
  sites/mlo-online.com/server/graphql/fragments/content-page.js
  sites/mlo-online.com/server/styles/index.scss
  sites/mlo-online.com/server/templates/content/index.marko
  sites/mswmanagement.com/browser/index.js
  sites/mswmanagement.com/package.json
  sites/mswmanagement.com/server/graphql/fragments/content-page.js
  sites/mswmanagement.com/server/styles/index.scss
  sites/mswmanagement.com/server/templates/content/index.marko
Labels: 🌐 site: lightwaveonline.com, 🌐 site: locksmithledger.com, 🌐 site: masstransitmag.com, 🌐 site: militaryaerospace.com, 🌐 site: mlo-online.com, 🌐 site: mswmanagement.com

#328 Update label for archived topics and add new topic
  sites/vehicleservicepros.com/server/templates/website-section/videos.marko
Labels: 🌐 site: vehicleservicepros.com

#329 Update subscribe page description for LL
  sites/locksmithledger.com/server/templates/subscribe/index.marko
Labels: 🌐 site: locksmithledger.com

#331 Add welcome ad unit
  sites/dentaleconomics.com/config/gam.js
Labels: 🌐 site: dentaleconomics.com

#338 Add “California Do Not Sell” link to all footers
  sites/aviationpros.com/config/navigation.js
  sites/bioopticsworld.com/config/navigation.js
  sites/broadbandtechreport.com/config/navigation.js
  sites/cablinginstall.com/config/navigation.js
  sites/cpapracticeadvisor.com/config/navigation.js
  sites/dentaleconomics.com/config/navigation.js
  sites/dentistryiq.com/config/navigation.js
  sites/distributedenergy.com/config/navigation.js
  sites/evaluationengineering.com/config/navigation.js
  sites/firehouse.com/config/navigation.js
  sites/flowcontrolnetwork.com/config/navigation.js
  sites/foresternetwork.com/config/navigation.js
  sites/gxcontractor.com/config/navigation.js
  sites/hcinnovationgroup.com/config/navigation.js
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/config/navigation.js
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/config/navigation.js
  sites/intelligent-aerospace.com/config/navigation.js
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/config/navigation.js
  sites/ledsmagazine.com/config/navigation.js
  sites/lightwaveonline.com/config/navigation.js
  sites/locksmithledger.com/config/navigation.js
  sites/masstransitmag.com/config/navigation.js
  sites/militaryaerospace.com/config/navigation.js
  sites/mlo-online.com/config/navigation.js
  sites/mswmanagement.com/config/navigation.js
  sites/officer.com/config/navigation.js
  sites/offshore-mag.com/config/navigation.js
  sites/perioimplantadvisory.com/config/navigation.js
  sites/plasticsmachinerymagazine.com/config/navigation.js
  sites/processingmagazine.com/config/navigation.js
  sites/rdhmag.com/config/navigation.js
  sites/securityinfowatch.com/config/navigation.js
  sites/stormh2o.com/config/navigation.js
  sites/strategies-u.com/config/navigation.js
  sites/utilityproducts.com/config/navigation.js
  sites/vehicleservicepros.com/config/navigation.js
  sites/vendingmarketwatch.com/config/navigation.js
  sites/vision-systems.com/config/navigation.js
  sites/watertechonline.com/config/navigation.js
  sites/waterworld.com/config/navigation.js
Labels: 🌐 site: ALL

#337 Setup custom website section, Jobs, on FH
  sites/firehouse.com/config/navigation.js
  sites/firehouse.com/server/components/flows/marko.json
  sites/firehouse.com/server/routes/website-section.js
  sites/firehouse.com/server/styles/index.scss
  sites/firehouse.com/server/templates/website-section/jobs/index.marko
  sites/firehouse.com/server/templates/website-section/jobs/submit.marko
Labels: 🌐 site: firehouse.com
