Repository cygnusb2b/endeavor-business-media, pull requests merged in 2020-09, with the labels that each got.

#537 Upgrade @base-cms dependencies to 1.36.3
  package.json
  packages/common/package.json
  packages/contact-us/package.json
  packages/directory/package.json
  packages/inquiry/package.json
  packages/leaders/package.json
  packages/photoswipe/package.json
  packages/shared/package.json
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/plasticsmachinerymagazine.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/taxpracticeadvisor.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#542 Add “Videos” to site menu, nav
  sites/locksmithledger.com/config/navigation.js
Labels: 🌐 site: locksmithledger.com

#541 DIQ site menu updates
  sites/dentistryiq.com/config/navigation.js
Labels: 🌐 site: dentistryiq.com

#540 Add 'Transit Bus Summit' to menu, remove duplicate 'Career Center'
  sites/masstransitmag.com/config/navigation.js
Labels: 🌐 site: masstransitmag.com

#539 Added Algolia published and unpublished date filtering
  packages/common/browser/algolia/site-search.vue
  packages/common/scss/algolia.scss
Labels: enhancement

#544 Cygnus Algolia Rollout
  packages/common/scss/algolia.scss
  sites/aviationpros.com/config/site.js
  sites/aviationpros.com/server/styles/index.scss
  sites/cpapracticeadvisor.com/config/site.js
  sites/cpapracticeadvisor.com/server/styles/index.scss
  sites/firehouse.com/config/site.js
  sites/firehouse.com/server/styles/index.scss
  sites/locksmithledger.com/config/site.js
  sites/locksmithledger.com/server/styles/index.scss
  sites/masstransitmag.com/config/site.js
  sites/masstransitmag.com/server/styles/index.scss
  sites/officer.com/config/site.js
  sites/officer.com/server/styles/index.scss
  sites/securityinfowatch.com/config/site.js
  sites/vehicleservicepros.com/config/site.js
  sites/vehicleservicepros.com/server/styles/index.scss
  sites/vendingmarketwatch.com/config/site.js
  sites/vendingmarketwatch.com/server/styles/index.scss
Labels: 🌐 site: aviationpros.com, 🌐 site: cpapracticeadvisor.com, 🌐 site: firehouse.com, 🌐 site: locksmithledger.com, 🌐 site: masstransitmag.com, 🌐 site: officer.com, 🌐 site: securityinfowatch.com, 🌐 site: vehicleservicepros.com, 🌐 site: vendingmarketwatch.com

#546 Update dragonform for newsletter management preferences
  sites/aviationpros.com/config/dragon-forms.js
Labels: 🌐 site: aviationpros.com

#545 Change corporate income taxes to business income taxes
  sites/taxpracticeadvisor.com/config/navigation.js
Labels: 🌐 site: taxpracticeadvisor.com

#549 Set default refresh interval
  packages/shared/components/fixed-ad-bottom.marko
  sites/firehouse.com/server/templates/website-section/anniversary.marko
  sites/strategies-u.com/server/templates/content/company.marko
  sites/strategies-u.com/server/templates/content/index.marko
  sites/strategies-u.com/server/templates/dynamic-page/index.marko
  sites/strategies-u.com/server/templates/index.marko
  sites/strategies-u.com/server/templates/published-content/webinars.marko
  sites/strategies-u.com/server/templates/website-section/directory.marko
  sites/strategies-u.com/server/templates/website-section/index.marko
  sites/strategies-u.com/server/templates/website-section/white-papers.marko
Labels: 🌐 site: ALL

#550 Switch sort when searching
  packages/common/browser/algolia/site-search.vue
  packages/common/package.json
  sites/offshore-mag.com/server/styles/index.scss
  sites/offshore-mag.com/server/templates/search.marko
  sites/strategies-u.com/server/styles/index.scss
  sites/strategies-u.com/server/templates/search.marko
  yarn.lock
Labels: 🌐 site: ALL

#553 Update category names
  sites/ledsmagazine.com/server/categories.js
Labels: 🌐 site: ledsmagazine.com

#554 fix current issue image size
  packages/shared/components/blocks/magazine-publications.marko
Labels: 🌐 site: ALL

#555 Fix contact us email logo
  sites/intelligent-aerospace.com/config/site.js
Labels: 🌐 site: intelligent-aerospace.com

#559 Added lazyload Config to shared gam.js
  packages/shared/config/gam.js
  sites/officer.com/config/gam.js
  sites/watertechonline.com/config/gam.js
Labels: 🌐 site: ALL

#551 Update subscribe page links for GXC
  sites/gxcontractor.com/config/dragon-forms.js
  sites/gxcontractor.com/server/templates/subscribe/index.marko
Labels: 🌐 site: gxcontractor.com

#560 Upgrade @base-cms dependencies to 1.41
  package.json
  packages/common/package.json
  packages/contact-us/package.json
  packages/directory/package.json
  packages/gam-prestitial/package.json
  packages/inquiry/package.json
  packages/leaders/package.json
  packages/photoswipe/package.json
  packages/shared/package.json
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/plasticsmachinerymagazine.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/taxpracticeadvisor.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#561 Remove drop-shadow from logo
  sites/hpnonline.com/server/styles/index.scss
Labels: 🌐 site: hpnonline.com
