Repository cygnusb2b/endeavor-business-media, pull requests merged in 2020-06, with the labels that each got.

#470 Add Videos to secondary nav
  sites/hcinnovationgroup.com/config/navigation.js
Labels: 🌐 site: hcinnovationgroup.com

#471 Add whitepapers and webinars to site menu
  sites/gxcontractor.com/config/navigation.js
Labels: 🌐 site: gxcontractor.com

#472 Disable comments
  sites/vendingmarketwatch.com/config/site.js
Labels: 🌐 site: vendingmarketwatch.com

#473 Add ‘trusted-computing’ GAM ad units
  sites/militaryaerospace.com/config/gam.js
Labels: 🌐 site: militaryaerospace.com

#474 Enable identityX for most EBM sites
  sites/bioopticsworld.com/config/site.js
  sites/broadbandtechreport.com/config/site.js
  sites/cablinginstall.com/config/site.js
  sites/dentaleconomics.com/config/site.js
  sites/dentistryiq.com/config/site.js
  sites/distributedenergy.com/config/site.js
  sites/evaluationengineering.com/config/site.js
  sites/flowcontrolnetwork.com/config/site.js
  sites/gxcontractor.com/config/site.js
  sites/hcinnovationgroup.com/config/site.js
  sites/hpnonline.com/config/site.js
  sites/industrial-lasers.com/config/site.js
  sites/intelligent-aerospace.com/config/site.js
  sites/laserfocusworld.com/config/site.js
  sites/lightwaveonline.com/config/site.js
  sites/militaryaerospace.com/config/site.js
  sites/mlo-online.com/config/site.js
  sites/mswmanagement.com/config/site.js
  sites/plasticsmachinerymagazine.com/config/site.js
  sites/processingmagazine.com/config/site.js
  sites/rdhmag.com/config/site.js
  sites/stormh2o.com/config/site.js
  sites/vision-systems.com/config/site.js
  sites/watertechonline.com/config/site.js
  sites/waterworld.com/config/site.js
Labels: 🌐 site: ALL

#476 Add leaders to secondary nav and site menu
  sites/mswmanagement.com/config/navigation.js
Labels: 🌐 site: mswmanagement.com

#477 Update Conference nav links to HortiCann
  sites/ledsmagazine.com/config/navigation.js
Labels: 🌐 site: ledsmagazine.com

#478 Change “Sponsored Content” title back to "Summits"
  sites/hcinnovationgroup.com/server/templates/index.marko
Labels: 🌐 site: hcinnovationgroup.com

#479 Upgrade @base-cms dependencies to 1.29.3
  packages/shared/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#480 Upgrade @base-cms dependencies to 1.29.4
  packages/shared/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#481 Upgrade @base-cms dependencies to 1.29.5
  packages/leaders/package.json
  packages/shared/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#482 Hide “View All Companies” on Leaders landing page
  packages/leaders/components/all.marko
Labels: 🌐 site: ALL, 📦 package: leaders

#483 Add View Image Gallery button with multiple images
  packages/shared/components/content-page/contents.marko
Labels: 🌐 site: ALL

#469 Update webcasts nav item title
  sites/evaluationengineering.com/config/navigation.js
Labels: 🌐 site: evaluationengineering.com

#484 Change /websites to /page/resources for Resources
  sites/evaluationengineering.com/config/navigation.js
Labels: 🌐 site: evaluationengineering.com

#486 Add “Optical Components - Windows, laser safety” category
  sites/laserfocusworld.com/server/categories.js
Labels: 🌐 site: laserfocusworld.com

#488 Upgrade @base-cms dependencies to 1.29.8
  packages/common/package.json
  packages/directory/package.json
  packages/leaders/package.json
  packages/shared/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hpnonline.com/package.json
  sites/masstransitmag.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/taxpracticeadvisor.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: dependencies

#489 Setup shared template for “No Ads” layout w/ hero
  packages/shared/components/layouts/website-section/hero-no-ads.marko
  packages/shared/components/layouts/website-section/marko.json
  packages/shared/templates/website-section/no-ads.marko
  sites/hcinnovationgroup.com/server/routes/website-section.js
Labels: 🌐 site: hcinnovationgroup.com, 📦 package: shared

#491 Add gated content print view
  packages/common/package.json
  packages/contact-us/package.json
  packages/directory/package.json
  packages/inquiry/package.json
  packages/leaders/package.json
  packages/photoswipe/package.json
  packages/shared/components/content-page/header.marko
  packages/shared/package.json
  packages/shared/routes/content-print.js
  packages/shared/scss/components/content-print.scss
  packages/shared/scss/core.scss
  packages/shared/start-server.js
  packages/shared/templates/content/print.marko
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/flowcontrolnetwork.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/plasticsmachinerymagazine.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/taxpracticeadvisor.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: 🌐 site: ALL, 📦 package: shared

#492 GAM lazy loading
  packages/gam-prestitial/package.json
  packages/shared/components/document.marko
  packages/shared/package.json
  sites/officer.com/config/gam.js
  sites/offshore-mag.com/package.json
  sites/offshore-mag.com/server/components/document.marko
  sites/strategies-u.com/package.json
  sites/strategies-u.com/server/components/document.marko
  yarn.lock
Labels: 🌐 site: ALL, 🌐 site: officer.com, 📦 package: shared
