Repository cygnusb2b/endeavor-business-media, pull requests merged in 2021-04, with the labels that each got.

#676 Site menu updates
  sites/aviationpros.com/config/navigation.js
  sites/firehouse.com/config/navigation.js
Labels: 🌐 site: aviationpros.com, 🌐 site: firehouse.com

#677 Added missing stylesheet to Offshore Mag
  sites/offshore-mag.com/server/styles/index.scss
Labels: 🌐 site: offshore-mag.com

#630 VSP: Layout changes to channels and directory
  packages/shared/components/blocks/marko.json
  packages/shared/components/blocks/website-section-card-deck.marko
  packages/shared/components/layouts/website-section/directory/scheduled-card.marko
  packages/shared/components/layouts/website-section/marko.json
  sites/vehicleservicepros.com/server/routes/website-section.js
  sites/vehicleservicepros.com/server/templates/website-section/channel.marko
  sites/vehicleservicepros.com/server/templates/website-section/channel/collision-repair.marko
  sites/vehicleservicepros.com/server/templates/website-section/channel/distribution.marko
  sites/vehicleservicepros.com/server/templates/website-section/channel/industry-news.marko
  sites/vehicleservicepros.com/server/templates/website-section/channel/service-repair.marko
  sites/vehicleservicepros.com/server/templates/website-section/channel/shop-operations.marko
  sites/vehicleservicepros.com/server/templates/website-section/channel/training-and-resources.marko
  sites/vehicleservicepros.com/server/templates/website-section/directory.marko
Labels: 🌐 site: vehicleservicepros.com

#679 Remove /events route
  sites/mlo-online.com/server/routes/published-content.js
Labels: 🌐 site: mlo-online.com

#678 Section block updates
  sites/vehicleservicepros.com/server/templates/website-section/channel/industry-news.marko
  sites/vehicleservicepros.com/server/templates/website-section/channel/training-and-resources.marko
Labels: 🌐 site: vehicleservicepros.com

#684 GAM alias updates
  sites/vehicleservicepros.com/config/gam.js
Labels: 🌐 site: vehicleservicepros.com, 📦 package: gam-prestitial

#683 Update homepage block
  sites/dentistryiq.com/server/templates/index.marko
Labels: 🌐 site: dentistryiq.com

#682 Update LinkedIn URL
  sites/militaryaerospace.com/config/site.js
Labels: 🌐 site: militaryaerospace.com

#680 Updated site menu
  sites/laserfocusworld.com/config/navigation.js
Labels: 🌐 site: laserfocusworld.com

#681 Update eNL dragonform URLs
  sites/laserfocusworld.com/config/dragon-forms.js
Labels: 🌐 site: laserfocusworld.com

#686 Upgrade @base-cms dependencies to 1.54.1
  packages/shared/package.json
  yarn.lock
Labels: dependencies
