Repository cygnusb2b/endeavor-business-media, pull requests merged in 2021-02, with the labels that each got.

#649 Add “IoT Embedded Vision” to directory categories
  sites/vision-systems.com/server/directory-categories.js
Labels: 🌐 site: vision-systems.com

#651 Site menu updates
  sites/evaluationengineering.com/config/navigation.js
Labels: 🌐 site: evaluationengineering.com

#653 Updated categories for Officer
  sites/officer.com/server/categories.js
Labels: 🌐 site: officer.com

#650 Require `regionCode` and `countryCode` on IdentityX login
  packages/shared/package.json
  packages/shared/routes/user.js
  yarn.lock
Labels: 🌐 site: ALL

#654 Updated VSP navigation
  sites/vehicleservicepros.com/config/navigation.js
Labels: 🌐 site: vehicleservicepros.com

#655 Subscribe page updates for CIM and BTR
  sites/broadbandtechreport.com/config/dragon-forms.js
  sites/broadbandtechreport.com/server/templates/subscribe/index.marko
  sites/cablinginstall.com/config/dragon-forms.js
  sites/cablinginstall.com/server/templates/subscribe/index.marko
Labels: 🌐 site: broadbandtechreport.com, 🌐 site: cablinginstall.com

#656 Updates to TPA’s subscribe page
  sites/taxpracticeadvisor.com/config/dragon-forms.js
  sites/taxpracticeadvisor.com/server/templates/subscribe/index.marko
Labels: 🌐 site: taxpracticeadvisor.com

#657 Layout updates for Firehouse
  sites/firehouse.com/server/categories.js
  sites/firehouse.com/server/routes/website-section.js
Labels: 🌐 site: firehouse.com

#659 Navigation and homepage updates for PM
  sites/processingmagazine.com/config/navigation.js
  sites/processingmagazine.com/server/styles/index.scss
  sites/processingmagazine.com/server/templates/index.marko
Labels: 🌐 site: processingmagazine.com

#660 Corrected GAM paths for VSP
  sites/vehicleservicepros.com/config/gam.js
Labels: 🌐 site: vehicleservicepros.com

#661 Added missing “and” to page path for VSP directory
  sites/vehicleservicepros.com/config/gam.js
Labels: 🌐 site: vehicleservicepros.com

#658 Navigation updates for ILS and LFW
  sites/industrial-lasers.com/config/navigation.js
  sites/industrial-lasers.com/config/site.js
  sites/industrial-lasers.com/server/styles/index.scss
  sites/laserfocusworld.com/config/navigation.js
  sites/laserfocusworld.com/config/site.js
Labels: 🌐 site: industrial-lasers.com, 🌐 site: laserfocusworld.com

#662 Navigation update for DIQ
  sites/dentistryiq.com/config/navigation.js
  sites/dentistryiq.com/server/styles/index.scss
Labels: 🌐 site: dentistryiq.com

#663 Navigation updates for PI
  sites/piprocessinstrumentation.com/config/navigation.js
  sites/piprocessinstrumentation.com/server/styles/index.scss
Labels: 🌐 site: piprocessinstrumentation

#665 Update /advertise link on RDH
  sites/rdhmag.com/config/navigation.js
Labels: 🌐 site: rdhmag.com

#664 Disable native ads on tech directory list block
  packages/shared/components/layouts/website-section/directory/tech-group.marko
Labels: 🌐 site: bioopticsworld.com, 🌐 site: broadbandtechreport.com, 🌐 site: cablinginstall.com, 🌐 site: evaluationengineering.com, 🌐 site: intelligent-aerospace.com, 🌐 site: laserfocusworld.com, 🌐 site: ledsmagazine.com, 🌐 site: lightwaveonline.com, 🌐 site: militaryaerospace.com, 🌐 site: vision-systems.com
