Repository cygnusb2b/endeavor-business-media, pull requests merged in 2021-03, with the labels that each got.

#669 Update subscribe pages for MAE, IAS, and LFW
  sites/intelligent-aerospace.com/config/dragon-forms.js
  sites/intelligent-aerospace.com/server/templates/subscribe/index.marko
  sites/laserfocusworld.com/server/templates/subscribe/index.marko
  sites/militaryaerospace.com/config/dragon-forms.js
  sites/militaryaerospace.com/server/templates/subscribe/index.marko
Labels: 🌐 site: intelligent-aerospace.com, 🌐 site: laserfocusworld.com, 🌐 site: militaryaerospace.com

#670 Subscribe page updates for IAS and MAE
  sites/intelligent-aerospace.com/server/templates/subscribe/index.marko
  sites/militaryaerospace.com/server/templates/subscribe/index.marko
Labels: 🌐 site: intelligent-aerospace.com, 🌐 site: militaryaerospace.com

#671 Update native-x config
  sites/firehouse.com/config/native-x.js
Labels: 🌐 site: firehouse.com

#672 Update site navigation
  sites/stormh2o.com/config/navigation.js
Labels: 🌐 site: stormh2o.com

#673 Add “Webcasts” to site navigation
  sites/stormh2o.com/config/navigation.js
Labels: 🌐 site: stormh2o.com

#674 Remove “Dental Works” from subscription page
  sites/dentistryiq.com/server/templates/subscribe/index.marko
Labels: 🌐 site: dentistryiq.com
