Repository cygnusb2b/endeavor-business-media, pull requests merged in 2021-01, with the labels that each got.

#626 Add `/biooptics` GAM alias
  sites/laserfocusworld.com/config/gam.js
Labels: 🌐 site: laserfocusworld.com

#628 Add /manufacturing GAM alias
  sites/plasticsmachinerymanufacturing.com/config/gam.js
Labels: 🌐 site: plasticsmachinerymagazine.com

#610 Add “25th Anniversary Hub” to VSD’s menu & nav
  sites/vision-systems.com/config/navigation.js
Labels: 🌐 site: vision-systems.com

#631 Upgrade @base-cms dependencies to 1.51.1
  packages/common/package.json
  packages/contact-us/package.json
  packages/directory/package.json
  packages/inquiry/package.json
  packages/leaders/package.json
  packages/photoswipe/package.json
  packages/shared/package.json
  sites/aviationpros.com/package.json
  sites/bioopticsworld.com/package.json
  sites/broadbandtechreport.com/package.json
  sites/cablinginstall.com/package.json
  sites/cpapracticeadvisor.com/package.json
  sites/dentaleconomics.com/package.json
  sites/dentistryiq.com/package.json
  sites/distributedenergy.com/package.json
  sites/evaluationengineering.com/package.json
  sites/firehouse.com/package.json
  sites/foresternetwork.com/package.json
  sites/gxcontractor.com/package.json
  sites/hcinnovationgroup.com/package.json
  sites/hpnonline.com/package.json
  sites/industrial-lasers.com/package.json
  sites/intelligent-aerospace.com/package.json
  sites/laserfocusworld.com/package.json
  sites/ledsmagazine.com/package.json
  sites/lightwaveonline.com/package.json
  sites/locksmithledger.com/package.json
  sites/masstransitmag.com/package.json
  sites/militaryaerospace.com/package.json
  sites/mlo-online.com/package.json
  sites/mswmanagement.com/package.json
  sites/officer.com/package.json
  sites/offshore-mag.com/package.json
  sites/perioimplantadvisory.com/package.json
  sites/piprocessinstrumentation.com/package.json
  sites/plasticsmachinerymanufacturing.com/package.json
  sites/processingmagazine.com/package.json
  sites/rdhmag.com/package.json
  sites/securityinfowatch.com/package.json
  sites/stormh2o.com/package.json
  sites/strategies-u.com/package.json
  sites/taxpracticeadvisor.com/package.json
  sites/utilityproducts.com/package.json
  sites/vehicleservicepros.com/package.json
  sites/vendingmarketwatch.com/package.json
  sites/vision-systems.com/package.json
  sites/watertechonline.com/package.json
  sites/waterworld.com/package.json
  yarn.lock
Labels: dependencies

#633 Update social links for PI
  sites/piprocessinstrumentation.com/config/site.js
Labels: 🌐 site: piprocessinstrumentation

#632 Update ad alias for VMW
  sites/vendingmarketwatch.com/config/gam.js
Labels: 🌐 site: vendingmarketwatch.com

#634 Updated nativeX config for VSP
  sites/vehicleservicepros.com/config/native-x.js
Labels: 🌐 site: vehicleservicepros.com

#641 PIPI: Update dragonform references
  sites/piprocessinstrumentation.com/config/dragon-forms.js
  sites/piprocessinstrumentation.com/server/templates/subscribe/index.marko
Labels: 🌐 site: piprocessinstrumentation

#640 Firehouse: Update sections, gam, and navs
  sites/firehouse.com/config/gam.js
  sites/firehouse.com/config/native-x.js
  sites/firehouse.com/config/navigation.js
  sites/firehouse.com/server/categories.js
  sites/firehouse.com/server/routes/website-section.js
  sites/firehouse.com/server/templates/index.marko
Labels: 🌐 site: firehouse.com

#639 Officer: logo change and color updates
  sites/officer.com/config/site.js
  sites/officer.com/server/styles/index.scss
Labels: 🌐 site: officer.com

#643 Add /videos to secondary nav
  sites/stormh2o.com/config/navigation.js
Labels: 🌐 site: stormh2o.com

#642 In-article video code added to remaining sites
  sites/aviationpros.com/config/gam.js
  sites/broadbandtechreport.com/config/gam.js
  sites/cablinginstall.com/config/gam.js
  sites/cpapracticeadvisor.com/config/gam.js
  sites/dentaleconomics.com/config/gam.js
  sites/dentistryiq.com/config/gam.js
  sites/evaluationengineering.com/config/gam.js
  sites/firehouse.com/config/gam.js
  sites/gxcontractor.com/config/gam.js
  sites/hpnonline.com/config/gam.js
  sites/industrial-lasers.com/config/gam.js
  sites/intelligent-aerospace.com/config/gam.js
  sites/laserfocusworld.com/config/gam.js
  sites/ledsmagazine.com/config/gam.js
  sites/lightwaveonline.com/config/gam.js
  sites/locksmithledger.com/config/gam.js
  sites/masstransitmag.com/config/gam.js
  sites/militaryaerospace.com/config/gam.js
  sites/mlo-online.com/config/gam.js
  sites/mswmanagement.com/config/gam.js
  sites/officer.com/config/gam.js
  sites/offshore-mag.com/config/gam.js
  sites/perioimplantadvisory.com/config/gam.js
  sites/piprocessinstrumentation.com/config/gam.js
  sites/plasticsmachinerymanufacturing.com/config/gam.js
  sites/processingmagazine.com/config/gam.js
  sites/rdhmag.com/config/gam.js
  sites/securityinfowatch.com/config/gam.js
  sites/stormh2o.com/config/gam.js
  sites/taxpracticeadvisor.com/config/gam.js
  sites/utilityproducts.com/config/gam.js
  sites/vendingmarketwatch.com/config/gam.js
  sites/vision-systems.com/config/gam.js
  sites/watertechonline.com/config/gam.js
  sites/waterworld.com/config/gam.js
Labels: 🌐 site: ALL

#644 Remove ads from whitepapers
  packages/shared/components/document.marko
  sites/strategies-u.com/server/templates/website-section/white-papers.marko
Labels: 🌐 site: ALL, 📦 package: shared

#646 Update feedgrabbr id
  sites/rdhmag.com/server/styles/index.scss
  sites/rdhmag.com/server/templates/website-section/job-postings.marko
Labels: 🌐 site: rdhmag.com

#645 Add `/videos` to site menu
  sites/masstransitmag.com/config/navigation.js
Labels: 🌐 site: masstransitmag.com

#647 Upgrade @base-cms dependencies to 1.52.0 & 1.53.0
  packages/shared/package.json
  yarn.lock
Labels: dependencies

#648 Officer: Responsive header updates
  sites/officer.com/server/styles/index.scss
Labels: 🌐 site: officer.com
